<div ng-controller="pagination">
    <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage" ng-change="change_page_value()"></uib-pagination>
</div>
