#monitor-container{
    margin-top: 15px;
    .group_name{
        font-size: 20px;
    }
    .edit_group_name_form{
        .error{
            position: absolute;
            top: -20px;
        }
        .group-update-btn{
            button{
                padding: 2px 12px;
                margin-bottom: 10px;
            }
        }
    }
    .grid{
       display: none;
    }
    .edit-icon{
        font-size: 10px;
    }
    .update-btn{
        margin-top: 10px;
    }
    a.editable{
        color: #000000;
        border-bottom: dashed 1px #44ac8e;
        text-transform: capitalize;
    }
    .editable-buttons{
        .btn-primary{
            background-color: #44ac8e;
            border-color: #44ac8e;
            padding: 5px;
        }
        .btn-default{
            padding: 5px;
        }
    }
    .editable-wrap{
        .form-control:focus {
            border-color: #44ac8e;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
        .btn:focus{
            outline-color: #44ac8e;
        }
        .uib-clear{
            display: none;
        }
        .uib-datepicker-current{
            border-radius: 3px;
        }
    }
    .monitor-first-section{
        -webkit-box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        -moz-box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        .monitor-info{
            padding: 10px;
            .name{
                font-size: 20px;
            }
            .tag{
                border: 1px solid #cecece ;
                color: #bbbbbb;
                border-radius: 3px;
                padding: 2px 5px;
                line-height: 20px;
                vertical-align: middle;
                display: inline-block;
                transition: 0.3s all ease-in;
                margin-right: 3px;
                margin-bottom: 3px;
                cursor: pointer;
                &:hover{
                    color: #636363;
                    border-color: #636363;
                }
            }
            .date{
                letter-spacing: 1px;
                font-size: 11px;
                .excel-icon{
                    font-size: 20px;
                    top: -8px;
                    position: absolute;
                    right: -6px;
                }
            }
        }
        
        .infleuncer-wrapper{
            background-color: #ffffff;
            padding: 10px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            .infleuncer-heading-wrapper{
                letter-spacing: 1px;
                font-size: 10px;
                padding-bottom: 5px;
                .heading{
                    padding-bottom: 10px;
                    padding-left: 0px;
                }
            }
            .ui-select-container .selected-infuencer-image {
                border-radius: 500px;
                width: 25px;
                height: 25px;
            }
            .edit-influencer-wrapper{
                margin-top: 10px;
            }
            .post-available{
                border: 3px solid #44ac8e;
            }
        }
    }
}