#monitors-container{
    .dashboard-main-content-area{
        min-height: 400px;
    }
    .dashboard-title{
        margin-top: 20px;
        .start{
            h1{
                margin-top: 0px
            }
        }
        .end{
            text-align: right;
        }
    }
    .thumbnail{
        padding: 1px;
        img{
            position: relative;
        }
        img.one{
            width: 100%;
        }
        img.two{
            width: 100%;
            max-height: 80px;
        }
        img.three{
            &:nth-of-type(1){
                width: 100%;
                max-height: 80px;
            }
            &:nth-of-type(2), &:nth-of-type(3){
                width: 50%;
            }
        }
        img.four{
            width: 50%;
        }
        .img-wrapper{
            width: 100%;
            position: relative;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            .monitor-name{
                position: absolute;
                bottom: 0px;
                left: 0px;
                padding: 10px;
                color: #FFFFFF;
                text-align: center;
                background-color: rgba(0,0,0,0.5);
                word-wrap: break-word;
            }  
        }
        .overlay {
            background:rgba(0, 0, 0, .75);
            position: absolute;
            bottom: 0;
            text-align:center;
            opacity:0;	  
            width:100%;
            height:100%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            .view{
                position: absolute;
                top: 45%;
                color: #FFFFFF;
                cursor: pointer;
                right: 0;
                left: 0;
            }
            .delete{
                position: absolute;
                top: -16px;
                right: -15px;
                color: #EA4335;
                border: 1px solid #EA4335;
                border-radius: 5px;
            }
            .created_at{
                position: absolute;
                top: 2px;
                color: #ffffff;
                left: 0;
                right: 0;
            }
        }
        &:hover {
            border:1px solid #555555;
            border-radius:5px;
            .overlay {
                opacity:1;
                cursor: pointer;
            }
            .img-wrapper{
                transform: scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')";
            }
        }
    }  
}