#new-monitor-container{
    .new-monitor-title{
        margin-top: 20px;
        .start{
            h1{
                margin-top: 0px
            }
        }
        .end{
            text-align: right;
        }
    }
    .loading{
        text-align: center;
        margin: 10px auto;
        img{
            width: 35px;
            height: 35px;
        }
    }
    .alert{
        margin: 10px auto;
        text-align: center;
        max-width: 60%;
    }
    form{
        max-width: 60%;
        margin: 0 auto;
        .create-button{
            margin-top: 10px;
        }
        .error{
            color : #FF0000;
        }
        .alert, .loading{
            text-align: center;
            margin: 0 auto 20px;
            float: none;
            max-width: 400px;
        }
        .ui-select-container{
            padding: 0px;
            .select2-choices {
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
                color: #555;
                display: block;
                transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                width: 100%;
                min-width: 242px;
            }
            .selected-infuencer-image{
                border-radius: 500px;
                width: 25px;
                height: 25px;
            }
            .selected-infuencer-name{
                padding-left: 4px;
            }
        }
    }
    .selected-item-wrapper{
        min-height: 75px;
    }
}