<div id="analytics-dashboard-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border background-white main-content-area">
            <div class="row">
                <div class="start capital-word col-sm-4">
                    <h1>Overview</h1>
                </div>
                <div class="col-sm-2"></div>
                <div class="end col-sm-6 no-padding">
                    <form novalidate name="event_filter" role="form">
                        <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label>From *</label>
                            <input type="date" class="form-control" ng-model="filter.from" name="from" required>
                            <span ng-show="event_filter.from.$error.required && event_filter.from.$touched" class="error ng-hide">Please enter date</span>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label>To *</label>
                            <input type="date" class="form-control" ng-model="filter.to" name="to" required>
                            <span ng-show="event_filter.to.$error.required && event_filter.to.$touched" class="error ng-hide">Please enter date</span>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <button ng-click="fetch_events(event_filter)" class="btn btn-success create-button ">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <highchart id="event-chart" config="event_chart_config"></highchart>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 download section">
            <div class="row">
                <div class="start capital-word col-sm-4">
                    <h3>Download</h3>
                </div>
                <div class="col-sm-2"></div>
                <div class="end col-sm-6 no-padding">
                </div>
            </div>
            <div class="row content-wrapper no-padding">
                <form novalidate name="download_form" role="form" class="download-form row">
                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 dropdown-filter">
                        <div class="btn-group pull-right" uib-dropdown>
                            <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                                <span ng-bind="category_legend_filter"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu-right dropdown-filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem" ng-repeat="legend in category_legend" ng-click=" change_category_legend(legend)">
                                    <a ng-bind="legend" href="javascript:void(0)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <label>From *</label>
                        <input type="date" class="form-control" ng-model="export.from" name="from" required>
                        <span ng-show="download_form.from.$error.required && download_form.from.$touched" class="error ng-hide">Please enter date</span>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <label>To *</label>
                        <input type="date" class="form-control" ng-model="export.to" name="to" required>
                        <span ng-show="download_form.to.$error.required && download_form.to.$touched" class="error ng-hide">Please enter date</span>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                        <button ng-click="export(download_form)" class="btn btn-success create-button ">Export</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>