body{
	font-family: 'Roboto', sans-serif;
	color: #171717;
    background-color: #f5f8fa;
    -webkit-transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
    background-image: url("images/background.png");
}
h1{
	line-height: 32px;
    color: #171717;
    font-size: 28px;
    font-weight: 400;
}
a{
	color:#44ac8e;
    outline: none;
}
a:hover{
	text-decoration:none;
}

.margin5{
	margin:5px;
}

.card{
    .card-header{
        padding: 20px 30px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ececec;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    .card-body{
        padding: 30px;
    }
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(200,200,200,0.9);
    -moz-box-shadow: 0 1px 3px rgba(200,200,200,0.9);
    box-shadow: 0 1px 3px rgba(200,200,200,0.9);
    margin-bottom: 30px;
}

/**
 * Widget card
 */
 .widget{
 	border:1px solid #DEDCDC;
 	background-color:white;
 	padding:10px;
 	box-shadow:1px solid #aaa;
 	
 }
 
 //For rws and col hilighting
 
 // .row,div[class*=" col-"]{
 // 	border:1px solid red;
 // }
     
//common tags container
.tags-container{
    .tag{
        border: 1px solid #cecece;
        padding: 2px 5px;
        color: #bbb;
        display: inline-block;
        margin:3px;
        font-size: 12px;
        border-radius: 3px;
    }
}

.top-border{
    border-top: solid 4px #000;
}
.hr-vertical{
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #e5e5e5), color-stop(90%, #e5e5e5), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(#ffffff,#e5e5e5 10%,#e5e5e5 90%,#fff 100%);
    background: -moz-linear-gradient(#ffffff,#e5e5e5 10%,#e5e5e5 90%,#fff 100%);
    background: -o-linear-gradient(#ffffff,#e5e5e5 10%,#e5e5e5 90%,#fff 100%);
    background: linear-gradient(#ffffff,#e5e5e5 10%,#e5e5e5 90%,#fff 100%);

}
.background-white,.bg-white{
    background-color: white;
}

.btn-success, .btn-primary {
    background-color: #44ac8e;
    border-color: #44ac8e;
    color: #fff;
}

.btn-success:hover, .btn-primary:hover {
    background-color: #69c4aa !important;
    border-color: #69c4aa;
    color: #fff;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #44ac8e;
    border-color: #44ac8e;
}

.pagination > li > a, .pagination > li > span{
    color: #44ac8e;
}
.color-theme-green{
    color: #44ac8e !important;
}
.align-middle{
    vertical-align: middle !important;
}
.capital-word{
    text-transform: capitalize;
}
a[ng-click]{
    cursor: pointer;
}
.position-relative{
    position: relative;
}
.format-number{
    font-size: 22px !important;
    font-weight: 400 !important;
}
.no-padding{
    padding:0 !important;
}
.instagram-back-color{
    background-color: #517fa4;
}
.facebook-back-color{
    background-color: #3b5998;
}
.youtube-back-color{
    background-color: #bb0000;
}
.twitter-back-color{
    background-color: #00aced;
}

	.social-icons{
		a{
			color:black;
		}
		i{
			font-size:35px;
			padding:5px;
			cursor:pointer;
		}
		.fa-th{
			&:hover, &.active{
				color:#44ac8e;
			}
		}
		.fa-instagram{
			&:hover, &.active{
				color:#9b6954;
			}
		}
		.fa-facebook-square{
			&:hover, &.active{
				color:#3b5998;
			}
		}
		.fa-twitter-square{
			&:hover, &.active{
				color:#55acee;
			}
		}
		.fa-youtube-square{
			&:hover, &.active{
				color:#cd201f;
			}
		}
	}
.disabled{
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}
.animate-show {
  line-height: 20px;
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}

.abn-tree{
    border: 1px solid #000;
}
.error{
    color: #f00;
}

.checkbox-theme input[type="checkbox"]:checked + label::before,
.checkbox-theme input[type="radio"]:checked + label::before {
    background-color: #44ac8e;
    border-color: #44ac8e;
}

.checkbox-theme input[type="checkbox"]:checked + label::after,
.checkbox-theme input[type="radio"]:checked + label::after {
    color: #fff;
}
.radio-theme input[type="radio"] + label::after {
  background-color: #44ac8e;
}
.radio-theme input[type="radio"]:checked + label::before {
  border-color: #44ac8e;
}
.radio-theme input[type="radio"]:checked + label::after {
  background-color: #44ac8e;
}
.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}
.layout{
    margin-top: 50px;
    min-height: 500px;
}
.small-message-color{
    color: #657886;
}
.progress{
    height: 12px;
    margin-bottom: 5px;
    width: 80px;
}
.progress-bar{
    line-height: 15px;
    font-size: 10px;
}
.percentage-bar span{
    font-size: 75%;
    color: #657886;
}

.modal-body .select2-container{
    width: 100%;
}

.video-icon{
    color: white;
    font-size: 40px;
    opacity: 0.7;
    top: 40%;
    left: 40%;
    float: left;
}

.red-color{
    color: red;
}

.green-color{
    color: green;
}

.green-color::before {
  content: "+";
}

.select2-container{
    display: block;
    .select2-choices{
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555;
            display: block;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100%;
        }
}
