footer{
	background-color: #404155;
    padding:20px;
    color:white;
    font-size:12px;
    div.social-links{
    	a{
			font-size:20px;
			padding-left:5px;
    	}
    }
	a{
		color:white;
		&:hover{
			color:#eee;
		}
	}
	span.owner{
		span.fa-heart{
			color:#2FD6A6;
		}
	}
}