.navbar{
	background-color: #404155;
    box-shadow:rgba(100,100,100,0.6) 0 0 5px;
	margin-bottom:0;
	nav{
		.navbar-brand{
			color:white;
				img{
					display: initial;
				}
		}
		ul.menu-icons{
			li{
				a{
					color:white;
					padding:17px;
					i{
						font-size:15px;
					}
					&.active{
						background-color: #565666;
					}
				}
				border-left:1px solid #565666;
				&:last-child{
					border-right:1px solid #565666;	
				}
				&:hover{
					background-color: #565666;
                }
                &.open{
                    a.dropdown{
					   background-color: #44ac8e;
                       &:hover{
                           background-color: #44ac8e;
                       }
                       &:focus{
                           background-color: #44ac8e;
                       }
				    }
                    
                }
            }
		}
        
	}
}