#homepage-container{
	color:white;
	font-weight: 100;
	a.entry{
		border:1px solid white;
		background:transparent;
		top:50px;
		right:50px;
		color:white;
		position:absolute;
		&:hover{
			color:white;
			border:1px solid #ccc;
		}
	}
	div.welcome{
		background-image:url('images/homepage/bg.jpg');
		background-size:cover;
		height:100vh;
		padding-top:30vh;
		div.welcome-title{
			font-size:10vh;
			
		}
	}
	div.tagline{
		font-size:4vh;
		color:#eee;
		
		span.dot{
			vertical-align: super;
			font-weight:bold;
		}
	}	
}
