#tag-container, #monitor-container{
    .dropdown-filter{
        padding: 8px 15px;
    }
    .dropdown-filter-btn{
        background: #ffffff;
        border: 1px solid #dadada;
        color: #44ac8e;
        i{
            padding: 0 4px;
        }
    }
    .dropdown-filter-wrapper{
        width: 130px;
        min-width: 130px;
        li{
            padding:2px;
            color:#44ac8e;
            text-align: center;
            cursor:pointer;
            a{
                color : #44ac8e !important;
                padding: 0px;
            }
        }
    }
    .influencer-image {
        width: 40px;
        height: 40px;
        border-radius: 500px;
        border: 3px solid #f0f0f0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover{
            border: 3px solid #44ac8e;
            cursor: pointer;
            transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')";
        }
    }
    .facebook-color{
        color: #3b5998;
    }
    .youtube-color{
        color: #bb0000;
    }
    .twitter-color{
        color: #00aced;
    }
    .instagram-color{
        color: #9b6954;
    }
    .section{
        margin-bottom : 15px;
        -webkit-box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        -moz-box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        border-radius: 3px;
    }
    .tag{
        border: 1px solid #cecece ;
        color: #bbbbbb;
        border-radius: 3px;
        padding: 2px 5px;
        line-height: 20px;
        vertical-align: middle;
        display: inline-block;
        transition: 0.3s all ease-in;
        margin-right: 3px;
        margin-bottom: 3px;
        cursor: pointer;
        &:hover{
            color: #636363;
            border-color: #636363;
        }
    }
    .main-section{
        padding: 15px;
        background-color: #ffffff;
        .title{
            text-transform: uppercase;
            color: #aaaaaa;
            font-size: 14px;
            font-weight: 400;
            padding: 0px;
        }
        .count{
            text-transform: uppercase;
            color: #333333;
            font-size: 25px;
            font-weight: 800;
        }
    }
    .highcharts-container{
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
     }
     .top-potential-filter{
         padding: 8px 15px;
     }
    .top-potential-filter-wrapper{
        width: 130px;
        min-width: 130px;
        li{
            padding:2px;
            color:#44ac8e;
            text-align: center;
            cursor:pointer;
            a{
                color : #44ac8e !important;
                padding: 0px;
            }
        }
    }
    .title{
         padding: 15px;
     }
    .content-wrapper{
        border-bottom-left-radius: 3px;
        padding-bottom: 3px;
        background: #ffffff;
    }
    .country-legend{
        height: 403px;
        background: #ffffff;
        border-bottom-right-radius: 3px;
        overflow-y: scroll;
        .country-list{
            list-style : none;
            padding: 20px 0 0 10px;
            li{
                padding:2px 0;
                .name{
                    color: #44ac8e;
                    font-size: 12px;
                    font-weight: 800; 
                }
            }
        }
     }
     .post-header{
        padding: 15px;
        background-color: #ffffff;
        .post-count{
            .title{
                font-size: 20px;
                padding-right: 10px;
            }
        }
        .feed-filter{
            margin-right: 15px;
        }
    }
    .filter-wrapper{
        width: 77px;
        min-width: 77px;
        li{
            padding: 2px 10px;
            i{
                font-size:25px;
                margin-left: 7px;
            }
            input{
                margin-left: 5px;
            }
        }
    }
    .post-wrapper{
        margin-bottom: 15px;
        .post{
            border-radius: 3px;
            -webkit-box-shadow : 0 1px 3px rgba(200,200,200,0.9);
            -box-shadow : 0 1px 3px rgba(200,200,200,0.9);
            -moz-box-shadow : 0 1px 3px rgba(200,200,200,0.9)
            .post-header{
                padding: 5px 10px;
                background-color: rgba(0,0,0,0.75);
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                .post-likes{
                    padding: 10px 0;
                    color: #ffffff;
                }
                .reach-interaction{
                    border: 1px solid;
                    background: #44ac8e;
                    border-radius: 50%;
                    padding: 5px;
                }
            }
            .post-content-wrapper{
                padding: 5px;
                background-color: #ffffff;
                min-height: 485px;
                p{
                    padding: 10px 10px 0;
                    font-size: 14px;
                    text-transform: lowercase;
                }
                .post-image{
                    max-width: 100%;
                }
            }
            .post-footer{
                padding: 10px 10px;
                border-top: 1px solid #ececec;
                color: #c4c4c4;
                .post-date{
                    transition: 0.3s all ease-in;
                    &:hover{
                        color: #636363;
                    }
                }
                .tag{
                   transition: 0.3s all ease-in;
                    &:hover{
                        color: #636363;
                    } 
                }
            }
        }
    }
    .grid{
       display: none;
    }
    .origin-posts-top-influencers-section{
        .title{
             padding: 15px;
         }
        .origin-by-posts-wrapper{
            padding-bottom: 10px;
            background: #ffffff;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            #origin-by-posts{
                min-height: 330px;
                g.highcharts-legend-item{
                    display: none;
                }
             }
         }
         .list-wrapper{
            min-height: 360px;
            background: #ffffff;
            border-bottom-left-radius: 3px;
            padding: 10px 0;
            border-bottom-right-radius: 3px;
            .more{
                padding-right: 15px;
            }
            .list{
                padding-bottom: 14px;
                .profile-image-wrapper{
                    padding-right: 0px;
                    padding-left: 28px;
                }
                .profile-name{
                    display: block;
                }
            }
            .list-pager{
                padding-left: 15px;
                margin: 0 0 10px 0;
                position: absolute;
                bottom: 0;
                li > a{
                    border: none;
                    padding: 0px;
                }
            }
            .default-list-pager{
                padding: 10px;
            }
         }   
    }
}