<footer>
	<div class="container">
        <div class="social-links pull-right">
            <a class="fa fa-twitter" href="https://twitter.com/ykone" target="_blank"></a>
            <a class="fa fa-envelope" href="mailto:contact@ykone.com"  target="_blank"></a>
        </div>

        <span class="copy">Copyright © 2015</span>&nbsp;&nbsp;&nbsp;
        <span class="dot">•</span>&nbsp;&nbsp;&nbsp;
        <span class="owner">Made with <span class="fa fa-heart"></span>
            by <a href="http://www.ykone.com/" target="_blank">Ykone</a>
        </span>
	</div>
</footer>