<header class="navbar navbar-inverse navbar-fixed-top navbar-inner">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav">
                <a href="/" role="button" class="navbar-brand">
                    <img src="/css/images/campaygn_logo.png" alt="Campaygn" />
                </a>
            </ul>
            <ul class="nav navbar-nav pull-right menu-icons">
                <!--
                <li>
    <a ui-sref="search" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Search">
        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
    </a>
</li>
-->
                <li>
                    <a ui-sref="leaderboard" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Leaderboard">
                        <i class="glyphicon glyphicon-pushpin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a ui-sref="profiles" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Profiles">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a ui-sref="tags({keyword: ''})" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Tag">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                    </a>
                </li>

                <li ng-show="user_info && (user_info | objLength) > 0">
                    <a ui-sref="lists" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Lists">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a ui-sref="monitors({inherit: false})" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Monitor" type="button">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a ui-sref="analytics({inherit: false})" ui-sref-active="active" tooltip-placement="bottom" uib-tooltip="Analytics" type="button">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="user-dropdown-wrapper" ng-controller="user" uib-dropdown on-toggle="dropdown_toggled(open)">
                    <a id="user-dropdown" class="dropdown" uib-dropdown-toggle>
                        <i ng-if="is_logged_in" class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        <i ng-if="!is_logged_in" class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" ng-click="$event.stopPropagation()">
                        <ng-include src="template_name"></ng-include>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>