<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:100'>
<center id="homepage-container">
    <a ui-sref="profiles({profile_kind:'all'})" class="entry btn pull-right">Lets get going!</a>
    <div class="welcome">
        <div class="welcome-title">
            CAMPAYGN 3.0
        </div>
        <div class="tagline">
            Simple <span class="dot">.</span> Fast <span class="dot">.</span> Elegant
        </div>
    </div>
</center>
