<!-- Create new list -->

<div class="modal-header">
    <h5 class="modal-title"><strong>Create a new list with selected profiles</strong></h5>
</div>
<div class="modal-body">
    <ng-include src="'./views/lists/create_list_form.html'"></ng-include>
</div>
