<div id="profiles-container" class="container" ng-cloak>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <ul class="nav nav-pills">
                    <li ng-class="stateParams.profile_kind == 'all' ? 'active' : ''">
                        <a ui-sref="profiles({profile_kind:'all'})">All</a>
                    </li>
                    <li ng-class="stateParams.profile_kind == 'influencer' ? 'active' : ''">
                        <a ui-sref="profiles({profile_kind:'influencer'})">Influencer</a>
                    </li>
                    <li ng-class="stateParams.profile_kind == 'brand' ? 'active' : ''">
                        <a ui-sref="profiles({profile_kind:'brand'})">Brand</a>
                    </li>
                    <li class="pull-right" ng-if="is_logged_in">
                        <a class="btn btn-success" ui-sref="add_profile">Create new Influencer</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Search box -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-cloak ng-if="is_logged_in">
            <div class="filter-container">
                <form ng-submit="search()">
                    <h3>Search</h3>
                    <hr>
                    <input type="text" class="form-control" placeholder="Name, Url, keyword(s)" ng-model="all.search_keyword" />
                    <br>
                    <ui-select multiple ng-model="all.selected_countries" theme="select2">
                        <ui-select-match placeholder="Where?">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="country.code as country in countries | props_filter: {name: $select.search}">
                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br>
                    <ui-select multiple ng-model="all.selected_continents" theme="select2">
                        <ui-select-match placeholder="Continents?">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="continent.code as continent in all_continents | props_filter: {name: $select.search}">
                            <div ng-bind-html="continent.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br>
                    <ui-select multiple ng-model="all.selected_languages" theme="select2">
                        <ui-select-match placeholder="Spoken Language(s)?...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="language.code as language in all_languages | props_filter: {name: $select.search}">
                            <div ng-bind-html="language.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br>
                    <ui-select multiple ng-model="all.selected_gender" theme="select2">
                        <ui-select-match placeholder="Gender...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="gender.code as gender in all_gender | props_filter: {name: $select.search}">
                            <div ng-bind-html="gender.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br>
                    <ui-select multiple ng-model="all.selected_themes" theme="select2">
                        <ui-select-match placeholder="Themes...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="theme.code as theme in all_themes | props_filter: {name: $select.search}">
                            <div ng-bind-html="theme.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br>
                    <ui-select tagging-tokens="SPACE|,|/" multiple tagging tagging-label="Add to search" ng-model="all.search_tags" theme="select2" sortable="true" title="Add Tags">
                        <ui-select-match placeholder="Tagges...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="tag in all_tags | filter:$select.search">
                            {{tag}}
                        </ui-select-choices>
                    </ui-select>
                    <br>
                    <button type="submit" class="btn btn-success btn-block">Search</button>
                    <br>
                </form>
            </div>
            <div class="range-container" ng-cloak>
                <form ng-submit="criterias_search()">
                    <h3>Criterias</h3>
                    <hr>
                    <h6>Reach</h6>
                    <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                    <div class="form-group inline-form">
                        <input type="number" string-to-number min="slider.minValue" max="slider.maxValue" class="form-control" id="" placeholder="Min" ng-model="slider.minValue" />&nbsp;
                        <input type="number" string-to-number min="slider.minValue" max="slider.maxValue" class="form-control" id="" placeholder="Max" ng-model="slider.maxValue" />
                    </div>
                    <h6>Engagement Rate</h6>
                    <rzslider rz-slider-model="engagement_rate.minValue" rz-slider-high="engagement_rate.maxValue" rz-slider-options="engagement_rate.options"></rzslider>
                    <div class="form-group inline-form">
                        <input type="number" string-to-number min="engagement_rate.minValue" max="engagement_rate.maxValue" step="0.1" class="form-control" id="" placeholder="Min" ng-model="engagement_rate.minValue" />&nbsp;
                        <input type="number" string-to-number min="engagement_rate.minValue" max="engagement_rate.maxValue" step="0.1" class="form-control" id="" placeholder="Max" ng-model="engagement_rate.maxValue" />
                    </div>
                    <h6>Audience Age</h6>
                    <rzslider rz-slider-model="age.minValue" rz-slider-high="age.maxValue" rz-slider-options="age.options"></rzslider>
                    <div class="form-group inline-form">
                        <input type="number" string-to-number min="age.minValue" max="age.maxValue" class="form-control" id="" placeholder="Min" ng-model="age.minValue" />&nbsp;
                        <input type="number" string-to-number min="age.minValue" max="age.maxValue" class="form-control" id="" placeholder="Max" ng-model="age.maxValue" />
                    </div>
                    <h6>Growth</h6>
                    <rzslider rz-slider-model="growth.minValue" rz-slider-high="growth.maxValue" rz-slider-options="growth.options"></rzslider>
                    <div class="form-group inline-form">
                        <input type="number" string-to-number min="growth.minValue" max="growth.maxValue" step="0.1" class="form-control" id="" placeholder="Min" ng-model="growth.minValue" />&nbsp;
                        <input type="number" string-to-number min="growth.minValue" max="growth.maxValue" step="0.1" class="form-control" id="" placeholder="Max" ng-model="growth.maxValue" />
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Apply</button>
                </form>
            </div>
            <br>
            <div class="range-container" ng-cloak>
                <span>Remove all filters</span><a ui-sref="profiles" ui-sref-opts="{reload: true, inherit: false}"><i class="glyphicon glyphicon-remove-sign pull-right"></i></a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-cloak ng-show="!is_logged_in">
            <p>
                Campaygn isn't just an index of blogs and bloggers, it's also the perfect way to find exactly the right influencer that will meet your brands' expectations. Each blog, each blogger you will find in Campaygn was reviewed and added by people loving the fashion and beauty industry.
            </p>
            <a class="btn btn-success" ng-click="get_demo()">Ask for more information or a demo</a>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 top-border background-white">
            <div class="profiles-title">
                <span class="start capital-word">
                    <h1 ng-if="(stateParams.profile_kind == 'influencer')">Influencers</h1>
                    <h1 ng-if="(stateParams.profile_kind == 'brand')">Brands</h1>
                    <h1 ng-if="(stateParams.profile_kind == 'all')">Influencers &amp; Brands</h1>
                </span>
                <span class="middle">Currently <strong class="color-theme-green">{{bigTotalItems}}</strong> records in your catalog</span>
                <div class="end animate-show" ng-show="((list.profiles | objLength) > 0)">
                    <!-- need to include list action buttons -->
                    <ng-include src="'../views/profiles/profile_list_actions.html'"></ng-include>
                </div>
            </div>
            <hr>
            <div ng-hide="true" class="pagination-container">
                <ng-include src="'../views/pagination/pagination.html'"></ng-include>
            </div>
            <table class="table" ng-cloak>
                <thead>
                    <tr>
                        <th colspan="2" width="45%">
                            <div class="social-icons">
                                <a ui-sref="profiles({active_platform: 'all'})"><i ng-class="stateParams.active_platform == 'all' ? 'active' : ''" class="fa fa-th"></i></a>
                                <a ui-sref="profiles({active_platform: 'instagram'})"><i ng-class="stateParams.active_platform == 'instagram' ? 'active' : ''" class="fa fa-instagram"></i></a>
                                <a ui-sref="profiles({active_platform: 'facebook'})"><i ng-class="stateParams.active_platform == 'facebook' ? 'active' : ''" class="fa fa-facebook-square"></i></a>
                                <a><i ng-class="stateParams.active_platform == 'twitter' ? 'active' : ''" class="fa fa-twitter-square"></i></a>
                                <a ui-sref="profiles({active_platform: 'youtube'})"><i ng-class="stateParams.active_platform == 'youtube' ? 'active' : ''" class="fa fa-youtube-square"></i></a>
                            </div>
                        </th>

                        <!-- This is all section -->
                        <th ng-if="stateParams.active_platform === 'all'" class="text-center" style="min-width: 20px;">
                            <a ng-click="sort_results('total_growth');"><span class="sorting sort_asc">Growth</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'total_growth' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'total_growth' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>

                        <th class="text-center" style="min-width: 20px;" ng-if="stateParams.active_platform === 'all'">
                            <a ng-click="sort_results('total_followers');"><span class="sorting sort_asc">Followers</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'total_followers' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'total_followers' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>

                        <th class="text-center" style="min-width: 20px;" ng-if="stateParams.active_platform === 'all'">
                            <a ng-click="sort_results('total_engagement_rate');"><span class="sorting sort_asc">ER</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'total_engagement_rate' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'total_engagement_rate' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>

                        <th class="text-center" style="min-width:20px;" ng-if="stateParams.active_platform === 'all'">
                            <span class="sort_asc">Sharing</span>&nbsp;
                        </th>

                        <!-- END OF all section -->

                        <!-- This is Instagram section -->
                        <th ng-if="stateParams.active_platform === 'instagram'" class="text-center" style="min-width: 20px;">
                            <a ng-click="sort_results('ig_growth');"><span class="sorting sort_asc">Growth</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'ig_growth' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'ig_growth' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>

                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'instagram'">
                            <a ng-click="sort_results('ig_followed_by');"><span class="sorting sort_asc">Followers</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'ig_followed_by' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'ig_followed_by' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <th class="text-center" style="min-width: 140px;" ng-if="stateParams.active_platform === 'instagram'">
                            <a ng-click="sort_results('ig_media');"><span class="sorting sort_asc">Media posted</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'ig_media' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'ig_media' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'instagram'">
                            <a ng-click="sort_results('instagram_engagement_rate');"><span class="sorting sort_asc">ER</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'instagram_engagement_rate' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'instagram_engagement_rate' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <!-- END OF Instagram section -->

                        <!-- This is facebook section -->
                        <th ng-if="stateParams.active_platform === 'facebook'" class="text-center" style="min-width: 20px;">
                            <a ng-click="sort_results('fb_growth');"><span class="sorting sort_asc">Growth</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'fb_growth' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'fb_growth' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>

                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'facebook'">
                            <a ng-click="sort_results('facebook_likes');"><span class="sorting sort_asc">Followers</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'facebook_likes' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'facebook_likes' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'facebook'">
                            <a ng-click="sort_results('facebook_engagement_rate');"><span class="sorting sort_asc">ER</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'facebook_engagement_rate' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'facebook_engagement_rate' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <!-- END OF facebook section -->

                        <!-- This is youtube section -->
                        <th ng-if="stateParams.active_platform === 'youtube'" class="text-center" style="min-width: 20px;">
                            <a ng-click="sort_results('yt_growth');"><span class="sorting sort_asc">Growth</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'yt_growth' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'yt_growth' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>

                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'youtube'">
                            <a ng-click="sort_results('youtube_subscriber_count');"><span class="sorting sort_asc">Followers</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'youtube_subscriber_count' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'youtube_subscriber_count' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'youtube'">
                            <a ng-click="sort_results('youtube_engagement_rate');"><span class="sorting sort_asc">ER</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'youtube_engagement_rate' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'youtube_engagement_rate' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'youtube'">
                            <a ng-click="sort_results('youtube_video_count');"><span class="sorting sort_asc">Video Posted</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'youtube_video_count' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'youtube_video_count' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <th class="text-center" style="min-width: 50px;" ng-if="stateParams.active_platform === 'youtube'">
                            <a ng-click="sort_results('youtube_view_count');"><span class="sorting sort_asc">Profile Views</span></a>&nbsp;

                            <i ng-show="(stateParams.sort_by === 'youtube_view_count' && stateParams.sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="(stateParams.sort_by === 'youtube_view_count' && stateParams.sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                        </th>
                        <!-- END OF youtube section -->

                        <!-- List selectbox section -->
                        <th class="" ng-show="(user_info | objLength) > 0">
                            <div class="checkbox checkbox-theme" style="margin-bottom: 0px;">
                                <input type="checkbox" class="styled" ng-model="list.select_all" ng-click="select_unselect_all_profiles();">
                                <label></label>
                            </div>
                        </th>
                        <!-- END OF List selectbox section -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="profiles === null">
                        <td colspan="5">No record found...</td>
                    </tr>

                    <tr ng-else ng-repeat="profile in profiles">
                        <td width="60" ng-switch on="stateParams.active_platform">
                            <!-- Active Platform All case -->
                            <img ng-switch-when="all" ng-src="{{profile.available_profile_picture}}" width="50" alt="Profile picture" class="img-rounded">

                            <!-- Active Platform instagram case -->
                            <img ng-switch-when="instagram" ng-src="{{profile.ig_profile_picture}}" width="50" alt="Profile picture" class="img-rounded">

                            <!-- Active Platform facebook case -->
                            <img ng-switch-when="facebook" ng-src="{{profile.facebook_picture}}" width="50" alt="Profile picture" class="img-rounded">

                            <!-- Active Platform youtube case -->
                            <img ng-switch-when="youtube" ng-src="{{profile.youtube_profile_picture}}" width="50" alt="Profile picture" class="img-rounded">
                        </td>
                        <td ng-switch on="stateParams.active_platform">
                            <!-- Active Platform All case -->
                            <a ng-switch-when="all" ui-sref="profile({slug: profile.profile_slug, active_platform: (profile.instagram_id) ? 'instagram' : (profile.facebook_id) ? 'facebook' : 'youtube'})" class="profile_name">{{profile.profile_name}}</a>

                            <!-- Active Platform instagram case -->
                            <a ng-switch-when="instagram" ui-sref="profile({slug: profile.profile_slug, active_platform: 'instagram'})" class="profile_name">{{profile.profile_name}}</a>

                            <!-- Active Platform facebook case -->
                            <a ng-switch-when="facebook" ui-sref="profile({slug: profile.profile_slug, active_platform: 'facebook'})" class="profile_name">{{profile.profile_name}}</a>

                            <!-- Active Platform youtube case -->
                            <a ng-switch-when="youtube" ui-sref="profile({slug: profile.profile_slug, active_platform: 'youtube'})" class="profile_name">{{profile.profile_name}}</a>

                            <br>
                            <span>
                                <img ng-if="profile.profile_country != '' && profile.profile_country" ng-src="/flags/16x16/{{profile.profile_country | lowercase}}.png" />
                                &nbsp;
                                <a href="{{profile.profile_url}}" target="_blank">{{profile.profile_url}}</a>
                            </span>

                            <div class="tags-container">
                                <a ui-sref="tag" href="/" ng-repeat="tag in profile.profile_tags  | limitTo : tag_limit" class="tag">{{tag}}</a>
                                <sup><span ng-if="profile.profile_tags.length > tag_limit" tooltip-trigger="mouseenter" uib-tooltip-html="profile.profile_tags.join('<br>')" tooltip-title="All tags" tooltip-placement="right">
                                and {{profile.profile_tags.length - tag_limit}} others
                                </span></sup>
                            </div>
                        </td>
                        <td class="text-center align-middle" ng-switch on="stateParams.active_platform">
                            <!-- All -->
                            <span ng-switch-when="all" ng-class="{'red-color': (profile.total_growth && profile.total_growth < 0), 'green-color': (profile.total_growth && profile.total_growth >= 0)}">{{profile.total_growth || '-'}}{{profile.total_growth ? '%' : ''}}</span>

                            <!-- Instagram -->
                            <span ng-switch-when="instagram" ng-class="{'red-color': (profile.ig_growth && profile.ig_growth < 0), 'green-color': (profile.ig_growth && profile.ig_growth >= 0)}">{{profile.ig_growth || '-'}}{{profile.ig_growth ? '%' : ''}}</span>

                            <!-- Facebook -->
                            <span ng-switch-when="facebook" ng-class="{'red-color': (profile.fb_growth && profile.fb_growth < 0), 'green-color': (profile.fb_growth && profile.fb_growth >= 0)}">{{profile.fb_growth || '-'}}{{profile.fb_growth ? '%' : ''}}</span>

                            <!-- Youtube -->
                            <span ng-switch-when="youtube" ng-class="{'red-color': (profile.yt_growth && profile.yt_growth < 0), 'green-color': (profile.yt_growth && profile.yt_growth >= 0)}">{{profile.yt_growth || '-'}}{{profile.yt_growth ? '%' : ''}}</span>
                        </td>

                        <!-- This is all section -->
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'all'">
                            {{profile.total_followers | formatLargeNumbers}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'all'">
                            {{(profile.total_engagement_rate) ? (profile.total_engagement_rate | number:2) + '%' : '-'}}
                        </td>

                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'all'">
                            <div ng-if="profile.ig_total_percentage" class="percentage-bar">
                                <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Instagram" tooltip-placement="top">
                                    <div class="progress-bar instagram-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{profile.ig_total_percentage}}%;">
                                    </div>
                                </div>
                                <span class="pull-left">&nbsp;- {{profile.ig_total_percentage}}% ({{profile.ig_followed_by | formatLargeNumbers}})</span>
                            </div>
                            <br/>
                            <div ng-if="profile.fb_total_percentage" class="percentage-bar">
                                <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Facebook" tooltip-placement="top">
                                    <div class="progress-bar facebook-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{profile.fb_total_percentage}}%;">
                                    </div>
                                </div>
                                <span class="pull-left">&nbsp;- {{profile.fb_total_percentage}}% ({{profile.facebook_likes | formatLargeNumbers}})</span>
                            </div>
                            <br/>
                            <div ng-if="profile.yt_total_percentage" class="percentage-bar">
                                <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Youtube" tooltip-placement="top">
                                    <div class="progress-bar youtube-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{profile.yt_total_percentage}}%;">
                                    </div>
                                </div>
                                <span class="pull-left">&nbsp;- {{profile.yt_total_percentage}}% ({{profile.youtube_subscriber_count | formatLargeNumbers}})</span>
                            </div>
                        </td>
                        <!-- END OF all section -->


                        <!-- This is Instagram section -->
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'instagram'">
                            {{profile.ig_followed_by | formatLargeNumbers}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'instagram'">
                            {{profile.ig_media | formatLargeNumbers}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'instagram'">
                            {{(profile.instagram_engagement_rate) ? (profile.instagram_engagement_rate | number:2) + '%' : '-'}}
                        </td>
                        <!-- END OF Instagram section -->

                        <!-- This is facebook section -->
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'facebook'">
                            {{profile.facebook_likes | formatLargeNumbers}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'facebook'">
                            {{(profile.facebook_engagement_rate) ? (profile.facebook_engagement_rate | number:2) + '%' : '-'}}
                        </td>
                        <!-- END OF facebook section -->

                        <!-- This is youtube section -->
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'youtube'">
                            {{profile.youtube_subscriber_count | formatLargeNumbers}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'youtube'">
                            {{(profile.youtube_engagement_rate) ? (profile.youtube_engagement_rate | number:2) + '%' : '-'}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'youtube'">
                            {{profile.youtube_video_count | formatLargeNumbers}}
                        </td>
                        <td class="text-center align-middle" ng-if="stateParams.active_platform === 'youtube'">
                            {{profile.youtube_view_count | formatLargeNumbers}}
                        </td>
                        <!-- END OF youtube section -->


                        <!-- List selectbox section -->
                        <td class="align-middle" ng-show="(user_info | objLength) > 0">
                            <div class="checkbox checkbox-theme" style="margin-bottom: 0px;">
                                <input type="checkbox" class="styled" ng-value="{{profile.profile_id}}" ng-click="add_remove_profile(profile.profile_id);" ng-checked="list.profiles[profile.profile_id] == profile.profile_id">
                                <label></label>
                            </div>
                        </td>
                        <!-- END OF List selectbox section -->
                    </tr>
                </tbody>
            </table>
            <div class="pagination-container">
                <ng-include src="'../views/pagination/pagination.html'"></ng-include>
            </div>
        </div>
    </div>
    <!-- Grid view
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="profile in profiles">
        <a ui-sref="profile({slug: profile.profile_slug})">
         <div class="thumbnail profile-container">
            <img ng-src="{{profile.ig_profile_picture}}" width="250" alt="..." class="img-rounded">
            <div class="caption">
                <h3>{{profile.profile_name}}</h3> Followed by : {{profile.ig_followed_by}}
                <br> Follows : {{profile.ig_follows}}
                <br> Media: {{profile.ig_media}}
                <p>{{profile.profile_bio| limitTo : 130}}...</p>
            </div>
        </a>
    </div>
     -->
</div>
