<!-- Create new list -->
<button type="button" class="btn btn-success btn-xs" tooltip-trigger="mouseenter" uib-tooltip="Create a new list with selected user(s)" tooltip-placement="bottom" ng-click="open_create_new_list();">Create a new List</button>

<!-- Add to List -->
<button type="button" class="btn btn-primary btn-xs" tooltip-trigger="mouseenter" uib-tooltip="Add selected user(s) in a existing list" tooltip-placement="bottom" ng-click="open_add_to_list();">Add to a list</button>

<!-- Remove from list -->
<button type="button" class="btn btn-danger btn-xs" tooltip-trigger="mouseenter" uib-tooltip="Remove selected user(s) from an existing list" tooltip-placement="bottom" ng-click="open_remove_from_list();">Remove from a list</button>
