<!-- Remove profiles from already existing list -->
<form ng-submit="remove_from_list();">
    <div class="modal-header">
        <h5 class="modal-title"><strong>Remove selected profiles from a list</strong></h5>
    </div>
    <div class="modal-body">
        <div>
            <span ng-show="list_api_error.length > 0" class="alert alert-danger" style="display: block;">{{list_api_error}}</span>
        </div>
        <div class="" ng-cloak>
            <label>Select list</label>
            <abn-tree tree-data="user_lists" tree-control="my_tree" on-select="add_children(branch,'all')" expand-level="2"></abn-tree>
            <span class="small-message-color" ng-if="user_lists.length <= 0">Currently, there is no list present for you.</span>
            <span ng-show="list_parent_error.length > 0" class="error">{{list_parent_error}}</span>
        </div>
        <br>
        <div style="text-align: right;">
            <button class="btn btn-success" type="submit">Remove</button>
            <button class="btn btn-success" type="button" ng-click="cancel_button()">Cancel</button>
        </div>
    </div>
</form>
