<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td align="center" bgcolor="#f1f1f1">
                <table style="margin:0 10px" width="600" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td width="600" height="40"></td>
                        </tr>
                        <tr>
                            <td width="600" height="4" bgcolor="#000"></td>
                        </tr>
                        <tr>
                            <td width="600" height="60" align="center" bgcolor="#404155" style="border:1px solid #e8e8e8;border-top:none">
                                <table width="600" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td width="200" height="60" align="center" bgcolor="#404155"></td>
                                            <td width="200" height="60" align="center" bgcolor="#404155">
                                                <img alt="Campaygn" src="https://ci3.googleusercontent.com/proxy/e9EF7vbsPdMGOYvr3ySvVSJJKAab9eYPSvG3goRIVtERB0tjvcf3At1dalEhTQqWHsCdtDvdxOuUUuGLYmadgp48UULE32lRl7giopHiB59j=s0-d-e1-ft#http://campaygn.com/assets/img/campaygn_logo.png?1420471455" class="CToWUd">
                                            </td>
                                            <td width="200" height="60" align="center" bgcolor="#404155"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="600" height="87" align="center" bgcolor="#fff" style="border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8">
                                <div align="center" style="padding:35px 35px 10px 35px;text-align:left">
                                    <h2 style="color:#111;font-size:13px;font-weight:bold;text-transform:uppercase;letter-spacing:2px;margin:0 0 20px 0;padding:0">A List has been shared with you</h2>
                                    <p style="color:#a8a8a8;font-size:16px;font-weight:200;margin:0;padding:0"> Dear User, A list has been shared with you, your role for this list is
                                        <strong><%= role%></strong>.
                                        <br>After login to system, please follow this link below to see that list: </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="600" height="87" align="center" bgcolor="#fff" style="border:1px solid #e8e8e8;border-top:none">
                                <div align="center" style="padding:10px 35px 35px 35px;text-align:left">
                                    <table width="530" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="175" height="42" align="center" bgcolor="#fff"></td>
                                                <td width="250" height="42" align="center" bgcolor="#fff">
                                                    <div align="center" style="min-height:40px;line-height:40px;background-color:#44ac8e;border:1px solid #428a42;border-radius:3px">
                                                        <a style="display:block;min-height:100%;color:#fff;font-size:13px;text-align:center;text-decoration:none;text-transform:uppercase;letter-spacing:2px" href="<%= list_url %>" target="_blank">Go to List</a> </div>
                                                </td>
                                                <td width="175" height="42" align="center" bgcolor="#fff"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="600" height="87" align="center" bgcolor="#fff" style="border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8">
                                <div align="center" style="padding:35px 35px 10px 35px;text-align:left">
                                    <p style="color:#a8a8a8;font-size:12px;font-weight:200;margin:0;padding:0"> We hope you enjoy <b>Campaygn</b> as much as we do
                                        <br>If you have any questions, feel free to contact us at <a href="mailto:contact@campaygn.com" target="_blank">contact@campaygn.com</a> </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="600" height="40"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
