#users-container{
    .menu-header{
        background: #44ac8e;
        color: #FFFFFF;
    }
    .dashboard-title{
        margin-top: 20px;
        .start{
            h1{
                margin-top: 0px
            }
        }
        .end{
            text-align: right;
        }
    }
    .dashboard-menu {
        h1{
            margin-top: 0px;
        }
        ul{
            li {
                border-bottom: 1px solid #f0f4f7;
                a {
                    color: #93a3b5;
                    font-size: 14px;
                    font-weight: 400;
                    i {
                        margin-right: 8px;
                        font-size: 14px;
                    }
                }
                a:hover {
                    background-color: #ffffff;
                    color: #44ac8e;
                }
            }
            li:last-child {
                border-bottom: none;
            }
            li.active {
                border-bottom: none;
                a {
                    color: #44ac8e;
                    background-color: #ffffff;
                    border-left: 2px solid #44ac8e;
                    margin-left: -2px;
                }
            }
        }
    }
    .dashboard-main-content-area{
        min-height: 400px;
        .editable-click, a.editable-click{
            color: #44ac8e;
            border-bottom: dashed 1px #44ac8e;
        }
        .editable-buttons{
            .btn-primary{
                background-color: #44ac8e;
                border-color: #44ac8e;
                padding: 5px;
            }
            .btn-default{
                padding: 5px;
            }
        }
    }
}