#lists-container{
    .header{
        margin: 10px 0 10px 0;
        
        .start{
            width: 18%;
            display: inline-block;
        }
        .middle{
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }
        .end{
            width: 30%;
            display: inline-block;
            text-align: right;
        }
    }

    .sulists-container{
        list-style: outside none none;
        margin-top: 10px;
    }

    .sublist-heading-container{
        display: inline-block;
        margin-left: 25px;
        vertical-align: top;
    }
    .sublist-reach{
        margin-bottom: 15px;
        width: 100%;
        min-height: 57px;

        .progress{
            width: 70%;
        }
    }
    .sublist-description{
        min-height:100px;
    }
    .panel-heading{
        min-height: 81px;
    }

    .profile_name{
		color:#333;
        font-size: 18px;
	}
	.table{
		tbody{
			tr{
				td{
					color: #657886;
				}
			}
		}
	}
    .small-font{
        font-size: 20px;
    }
}
