<!-- Remove profiles from already existing list -->
<div class="modal-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="modal-title col-xs-11 col-sm-11 col-md-11 col-lg-11" style="display: inline-block;"><strong>Manage Platform {{view_obj.platform}}</strong></h4>
        <a class="modal-title col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: right;" ng-click="close_popup();"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
<div class="modal-body" style="display:inline-block;width:100%;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5><strong>Existing Profile:</strong></h5>
        <!-- If platform already exist -->
        <div ng-if="platform_exist" class="row" style="margin: 0 0 10px 0;">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">&nbsp;</div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <div class="media-left">
                    <!-- Instagram -->
                    <a ng-if="view_obj.platform === 'instagram'" href="https://www.instagram.com/{{view_obj.profile_obj.instagram_id}}" target="_blank" uib-tooltip="click to see instagram page" tooltip-placement="top">
                        <img class="media-object img-circle" ng-src="{{view_obj.profile_obj.ig_profile_picture}}" alt="{{view_obj.profile_obj.instagram_id}}" width=100>
                    </a>

                    <!-- Facebook -->
                    <a ng-if="view_obj.platform === 'facebook'" href="https://www.facebook.com/{{view_obj.profile_obj.facebook_id}}" target="_blank" uib-tooltip="click to see facebook page" tooltip-placement="top">
                        <img class="media-object img-circle" ng-src="{{view_obj.profile_obj.facebook_picture}}" alt="{{view_obj.profile_obj.facebook_id}}" width=100>
                    </a>

                    <!-- Youtube -->
                    <a ng-if="view_obj.platform === 'youtube'" href="https://www.youtube.com/channel/{{view_obj.profile_obj.youtube_id}}" target="_blank" uib-tooltip="click to see youtube page" tooltip-placement="top">
                        <img class="media-object img-circle" ng-src="{{view_obj.profile_obj.youtube_profile_picture}}" alt="{{view_obj.profile_obj.youtube_id}}" width=100>
                    </a>
                </div>
                <div class="media-body">
                    <!-- Instagram -->
                    <span ng-if="view_obj.platform === 'instagram'" class="media-heading">Followers: <strong class="full-name">{{view_obj.profile_obj.ig_followed_by | formatLargeNumbers}}</strong></span>

                    <!-- Facebook -->
                    <span ng-if="view_obj.platform === 'facebook'" class="media-heading">likes: <strong class="full-name">{{view_obj.profile_obj.facebook_likes | formatLargeNumbers}}</strong></span>

                    <!-- Youtube -->
                    <span ng-if="view_obj.platform === 'youtube'" class="media-heading">Subscribers: <strong class="full-name">{{view_obj.profile_obj.youtube_subscriber_count | formatLargeNumbers}}</strong></span>
                </div>
            </div>
        </div>
        <!-- If platform does not exist -->
        <div ng-if="!platform_exist" class="alert alert-danger" style="margin: 0 0 20px 0;">
            There is no existing profile.
        </div>
        <form>
            <!-- Instagram search -->
            <div ng-if="view_obj.platform === 'instagram'">
                <div class="input-group">
                    <span class="input-group-addon" id="instagram-addon"><i class="fa fa-instagram"></i></span>
                    <input type="text" class="form-control" ng-model="view_obj.search.ig_keyword" ng-change="search_instagram_users()" placeholder="keyword" aria-describedby="instagram-addon">
                </div>
                <span ng-show="profile.error.instagram.length > 0" class="error">{{profile.error.instagram}}</span>
                <br>
                <ul class="media-list suggestions pull-left" ng-if="view_obj.ig_users.length > 0">
                    <li style="width: 50%; margin-top: 5px;" class="media pull-left" ng-repeat="ig_user in view_obj.ig_users">
                        <div class="radio radio-theme pull-left" style="margin-bottom: 0px;">
                            <input type="radio" name="ig_profile" ng-click="assign_value('instagram', ig_user.id);">
                            <label></label>
                        </div>
                        <div class="media-left">
                            <a href="https://www.instagram.com/{{ig_user.username}}" target="_blank" uib-tooltip="click to see instagram page" tooltip-placement="top">
                                <img class="media-object img-circle" ng-src="{{ig_user.profile_picture}}" alt="{{ig_user.username}}" width=50>
                            </a>
                        </div>
                        <div class="media-body">
                            <span class="media-heading"><strong class="full-name">{{ig_user.full_name}}</strong></span>
                            <br>
                            <a><sup>{{ig_user.username}}</sup></a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Facebook Search -->
            <div ng-if="view_obj.platform === 'facebook'">
                <div class="input-group">
                    <span class="input-group-addon" id="facebook-addon"><i class="fa fa-facebook"></i></span>
                    <input type="text" class="form-control" ng-model="view_obj.search.fb_keyword" ng-change="search_facebook_pages()" placeholder="keyword" aria-describedby="facebook-addon">
                </div>
                <span ng-show="profile.error.facebook.length > 0" class="error">{{profile.error.facebook}}</span>
                <br>
                <ul class="media-list suggestions pull-left" ng-if="view_obj.fb_pages.length > 0">
                    <li style="width: 50%; margin-top: 5px;" class="media pull-left" ng-repeat="fb_page in view_obj.fb_pages">
                        <div class="radio radio-theme pull-left" style="margin-bottom: 0px;">
                            <input type="radio" name="fb_profile" ng-click="assign_value('facebook', fb_page.id);">
                            <label></label>
                        </div>
                        <div class="media-left">
                            <a href="{{fb_page.link}}" target="_blank" uib-tooltip="click to see facebook page" tooltip-placement="top">
                                <img class="media-object img-circle" ng-src="{{fb_page.picture.data.url}}" alt="{{fb_page.username}}" width=50>
                            </a>
                        </div>
                        <div class="media-body">
                            <span class="media-heading"><strong class="full-name">{{fb_page.name}}</strong></span>
                            <br>
                            <a><sup>{{fb_page.username}}</sup></a>
                            <br>
                            <sup>Likes:</sup>
                            <a><sup>{{fb_page.fan_count | formatLargeNumbers}}</sup></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Youtube Search -->
            <div ng-if="view_obj.platform === 'youtube'">
                <div class="input-group">
                    <span class="input-group-addon" id="youtube-addon"><i class="fa fa-youtube"></i></span>
                    <input type="text" class="form-control" ng-model="view_obj.search.yt_keyword" ng-change="search_youtube_channels()" placeholder="keyword" aria-describedby="youtube-addon">
                </div>
                <span ng-show="profile.error.youtube.length > 0" class="error">{{profile.error.youtube}}</span>
                <br>
                <ul class="media-list suggestions pull-left" ng-if="view_obj.yt_channels.length > 0">
                    <li style="width: 50%; margin-top: 5px;" class="media pull-left" ng-repeat="yt_channel in view_obj.yt_channels">
                        <div class="radio radio-theme pull-left" style="margin-bottom: 0px;">
                            <input type="radio" name="yt_profile" ng-click="assign_value('youtube', yt_channel.snippet.channelId);">
                            <label></label>
                        </div>
                        <div class="media-left">
                            <a href="https://www.youtube.com/channel/{{yt_channel.snippet.channelId}}" target="_blank" uib-tooltip="click to see youtube page" tooltip-placement="top">
                                <img class="media-object img-circle" ng-src="{{yt_channel.snippet.thumbnails.default.url}}" alt="{{yt_channel.snippet.title}}" width=50>
                            </a>
                        </div>
                        <div class="media-body">
                            <span class="media-heading"><strong class="full-name">{{yt_channel.snippet.title}}</strong></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div style="margin: 0 0 20px 0;">
                <button ng-click="edit_platform();" type="submit" class="btn btn-success" confirm-settings="{size: 'lg'}" confirm="Are you sure you want to update platform {{view_obj.platform}}? Note: If you will update the profile, all data for existing profile will be deleted forever.">Update</button>
            </div>
        </form>
    </div>
</div>
