<div id="lists-container" class="container" ng-cloak>
    <div class="row top-border bg-white layout">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
            <span class="start">
                <h1>Create New List</h1>
            </span>
            <span class="middle">
                &nbsp;
            </span>
            <span class="end">
                &nbsp;
            </span>
            <hr>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    &nbsp;
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <ng-include src="'./views/lists/create_list_form.html'"></ng-include>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
