<div style="width: 100%;">
    <form ng-submit="create_new_list();">
        <div>
            <span ng-show="list_api_error.length > 0" class="alert alert-danger" style="display: block;">{{list_api_error}}</span>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input maxlength="99" required type="text" class="form-control" placeholder="Name" ng-model="list.name" />
            <span ng-show="list.error.name.length > 0" class="error">{{list.error.name}}</span>
        </div>

        <div class="form-group">
            <label>Select Parent List</label>
            <abn-tree tree-data="user_lists" tree-control="my_tree" on-select="add_children(branch,'owner')" expand-level="0" initial-selection="no parent"></abn-tree>
            <span class="small-message-color" ng-if="user_lists.length <= 0">Currently, there is no list present for you.</span>
        </div>
        <br>
        <div style="text-align: right;">
            <button class="btn btn-success" type="submit">Create</button>
            <button class="btn btn-success" type="button" ng-click="cancel_button()">Cancel</button>
        </div>
    </form>
</div>
