<div id="lists-container" class="container layout" ng-cloak>
    <div class="row top-border widget">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
            <span class="start" style="width:50%;">
                <h3>
                    <a ng-if="list_info.user_role === 'owner'" href="#" editable-text="list_info.name" e-required onaftersave="update();" e-maxlength="100">
                                {{list_info.name}}
                    </a>
                    <a ng-if="list_info.user_role !== 'owner'">
                                {{list_info.name}}
                    </a>
                </h3>
                <span class="error ng-binding" ng-show="errors.name.length > 0" >{{errors.name}}</span>
            </span>
            <span class="middle" style="width:1%;">
                &nbsp;
            </span>
            <span class="end" style="width:47%;">
                <a target="_self" href="/api/list/{{list_info.id}}/export?cache=false" ng-class="{disabled: export.isDisabled}" uib-tooltip="Export list" ><i class="fa fa-file-excel-o" style="color: green;font-size:20px;"></i></a>
                &nbsp;
                <a uib-tooltip="Delete list" ng-if="['owner'].indexOf(list_info.user_role) >= 0" ng-click="delete_list(list_info.id);" confirm-settings="{size: 'lg'}" confirm="Are you sure you want to delete list {{list_info.name}}? Note: If you will delete this list then all the sub-lists will be deleted too."><i class="glyphicon glyphicon-trash" style="color: red;font-size:20px;"></i></a>
            </span>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
            <span class="start">
                <img width="150" alt="List Picture" class="img-rounded" src="http://dummyimage.com/150x150/999/ffffff&text={{list_info.name}}" />
            </span>
            <span class="middle">
                <span class="small-message-color">Description:</span>
            <div style="margin-top: 10px;">
                <a ng-if="list_info.user_role === 'owner'" style="display: inline-block;width: 250px;" href="#" editable-textarea="list_info.description" onaftersave="update();" e-rows="3" e-cols="30" e-maxlength="500">
                                {{(list_info.description) ? list_info.description : 'no description'}}
                    </a>
                <a ng-if="list_info.user_role !== 'owner'">
                                {{(list_info.description) ? list_info.description : 'no description'}}
                    </a>
            </div>
            </span>
            <div class="end" style="vertical-align: top;">
                <div ng-if="['owner', 'admin'].indexOf(list_info.user_role) >= 0">
                    <span class="small-message-color">Users management for this list:</span>
                    <br>
                    <br>
                    <div style="display:inline-flex;">
                        <i class="fa fa-users fa-2x" aria-hidden="true"><span class="badge">{{list_users.length}}</span></i>&nbsp;&nbsp;&nbsp;
                        <button ng-if="list_users.length > 0" class="btn btn-success btn-xs" ng-click="open_list_users();">View / Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="widget clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Sublists</h3>
                <hr>
            </div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-message-color" ng-if="list_children.length <= 0">
                no sublists available...
            </div>
            <ul ng-if="list_children.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sulists-container">
                <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="list_child in list_children">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img width="50" alt="List Picture" class="img-rounded" src="../../css/images/lists/{{list_child.image}}" />
                            <div class="sublist-heading-container">
                                <span><a ui-sref="list({list_id: list_child.id})">{{list_child.name}}</a></span>
                                <br>
                                <span>{{list_child.number_of_influencers}} <strong>influencers</strong></span>
                                <br>
                                <span ng-if="['owner','admin'].indexOf(list_child.user_role) >= 0">{{list_child.total_subchilds}} <strong>sublists</strong></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- This is reach for list section -->
                            <div class="sublist-reach pull-left">
                                <div ng-if="list_child.number_of_influencers <= 0">
                                    <span class="pull-left">No reach available...</span>
                                </div>
                                <div ng-if="list_child.ig_reach" class="percentage-bar">
                                    <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Instagram" tooltip-placement="top">
                                        <div class="progress-bar instagram-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{list_child.ig_percentage}}%;">
                                        </div>
                                    </div>
                                    <span class="pull-left">&nbsp;- {{list_child.ig_percentage}}% ({{list_child.ig_reach | formatLargeNumbers}})</span>
                                </div>
                                <br/>
                                <div ng-if="list_child.fb_reach" class="percentage-bar">
                                    <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Facebook" tooltip-placement="top">
                                        <div class="progress-bar facebook-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{list_child.fb_percentage}}%;">
                                        </div>
                                    </div>
                                    <span class="pull-left">&nbsp;- {{list_child.fb_percentage}}% ({{list_child.fb_reach | formatLargeNumbers}})</span>
                                </div>
                                <br/>
                                <div ng-if="list_child.yt_reach" class="percentage-bar">
                                    <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Youtube" tooltip-placement="top">
                                        <div class="progress-bar youtube-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{list_child.yt_percentage}}%;">
                                        </div>
                                    </div>
                                    <span class="pull-left">&nbsp;- {{list_child.yt_percentage}}% ({{list_child.yt_reach | formatLargeNumbers}})</span>
                                </div>
                            </div>

                            <!--- END reach section -->
                            <div class="pull-left sublist-description">
                                {{(list_child.description) ? (list_child.description | limitTo: 280) : 'no description'}}{{list_child.description.length > 280 ? '...' : ''}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="widget clearfix col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Discussion&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-comment"><span class="badge" style="vertical-align: top">{{list_comments.length}}</span></i></h3>
                <div class="clearfix"></div>
                <hr>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form ng-submit="add_comment();">
                    <div class="form-group">
                        <textarea required class="form-control" ng-model="comment" rows="3" maxlength="200" placeholder="Leave a comment"></textarea>
                        <span class="error ng-binding" ng-show="errors.comment.length > 0">{{errors.comment}}</span>
                        <br>
                        <button class="btn btn-success pull-right">Submit</button>
                    </div>
                </form>
                <br>
                <br>
                <h4>Comments</h4>
                <hr>
                <ul class="list-group" style="min-height: 50px;max-height: 550px;overflow: scroll;">
                    <li ng-if="list_comments.length <= 0" class="list-group-item small-message-color">no comment found...</li>
                    <li ng-else class="list-group-item" ng-repeat="comment in list_comments">{{(comment.firstname) ? comment.firstname +' '+ comment.lastname +'('+ comment.email + ')' : 'no name' }} said:
                        <br>
                        <br>
                        <div class="small-message-color">
                            {{comment.message}}
                        </div>
                        <br>
                        <i class="glyphicon glyphicon-time small-message-color"></i> <span class="small-message-color">{{comment.created | date:'dd/MM/yyyy'}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget clearfix col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="col-xs-7 col-sm-7 col-md-7 col-lg-7">Influencers</h3>
                <div style="margin-top: 20px;" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 animate-show text-right" ng-show="((list.profiles | objLength) > 0)">
                    <ng-include src="'../views/profiles/profile_list_actions.html'"></ng-include>
                </div>
                <div class="clearfix">&nbsp;</div>
                <hr>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table" ng-cloak>
                    <thead>
                        <tr>
                            <th colspan="2" width="50%">#&nbsp;
                                <input type="text" placeholder="filter profiles" ng-model="search.keyword" />
                            </th>
                            <th class="text-center" style="min-width: 50px;">
                                <a ng-click="sort_by('total_followers')"><span class="sorting sort_asc">Followers</span></a>&nbsp;
                                <span class="glyphicon glyphicon-triangle-top" ng-show="propertyName === 'total_followers' && reverse === true"></span>
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="propertyName === 'total_followers' && reverse === false"></span>
                            </th>

                            <th class="text-center" style="min-width: 50px;">
                                <a ng-click="sort_by('total_engagement_rate')"><span class="sorting sort_asc">ER</span></a>&nbsp;
                                <span class="glyphicon glyphicon-triangle-top" ng-show="propertyName === 'total_engagement_rate' && reverse === true"></span>
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="propertyName === 'total_engagement_rate' && reverse === false"></span>
                            </th>

                            <th class="text-center social-icons" style="min-width: 50px;">
                                <span class="sort_asc">Sharing</span>&nbsp;
                                <a ng-click="sort_by('ig_followed_by')"><i class="fa fa-instagram small-font active"></i></a>
                                <span class="glyphicon glyphicon-triangle-top" ng-show="propertyName === 'ig_followed_by' && reverse === true"></span>
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="propertyName === 'ig_followed_by' && reverse === false"></span>

                                <a ng-click="sort_by('facebook_likes')"><i class="fa fa-facebook-square small-font active"></i></a>
                                <span class="glyphicon glyphicon-triangle-top" ng-show="propertyName === 'facebook_likes' && reverse === true"></span>
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="propertyName === 'facebook_likes' && reverse === false"></span>

                                <a ng-click="sort_by('youtube_subscriber_count')"><i class="fa fa-youtube-square small-font active"></i></a>
                                <span class="glyphicon glyphicon-triangle-top" ng-show="propertyName === 'youtube_subscriber_count' && reverse === true"></span>
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="propertyName === 'youtube_subscriber_count' && reverse === false"></span>
                            </th>
                            <!-- List selectbox section -->
                            <th>
                                <div class="checkbox checkbox-theme" style="margin-bottom: 0px;">
                                    <input type="checkbox" class="styled" ng-model="list.select_all" ng-click="select_unselect_all_profiles();">
                                    <label></label>
                                </div>
                            </th>
                            <!-- END OF List selectbox section -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="profiles.length <= 0">
                            <td colspan="5">No record found...</td>
                        </tr>

                        <tr ng-else ng-repeat="profile in profiles | orderBy:propertyName:reverse | filter: search.keyword">
                            <td width="60">
                                <img ng-src="{{(profile.instagram_id) ? profile.ig_profile_picture : (profile.facebook_id) ? profile.facebook_picture : profile.youtube_profile_picture}}" width="50" alt="Profile picture" class="img-rounded">
                            </td>
                            <td>
                                <a ui-sref="profile({slug: profile.profile_slug, active_platform: (profile.instagram_id) ? 'instagram' : (profile.facebook_id) ? 'facebook' : 'youtube'})" class="profile_name">{{profile.profile_name}}</a>

                                <br>
                                <span>
                                        <img ng-if="profile.profile_country != '' && profile.profile_country" ng-src="/flags/16x16/{{profile.profile_country | lowercase}}.png" />
                                        &nbsp;
                                        <a href="{{profile.profile_url}}" target="_blank">{{profile.profile_url}}</a>
                                    </span>

                                <div class="tags-container">
                                    <a ui-sref="tag" href="/" ng-repeat="tag in profile.profile_tags  | limitTo : tag_limit" class="tag">{{tag}}</a>
                                    <sup>
                                            <span ng-if="profile.profile_tags.length > tag_limit" tooltip-trigger="mouseenter" uib-tooltip-html="profile.profile_tags.join('<br>')" tooltip-title="All tags" tooltip-placement="right">and {{profile.profile_tags.length - tag_limit}} others
                                            </span>
                                        </sup>
                                </div>
                            </td>
                            <td class="text-center align-middle">
                                {{profile.total_followers | formatLargeNumbers}}
                            </td>
                            <td class="text-center align-middle">
                                {{(profile.total_engagement_rate) ? (profile.total_engagement_rate | number:2) + '%' : '-'}}
                            </td>
                            <td class="text-center align-middle">
                                <div ng-if="profile.ig_total_percentage" class="percentage-bar">
                                    <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Instagram" tooltip-placement="top">
                                        <div class="progress-bar instagram-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{profile.ig_total_percentage}}%;">
                                        </div>
                                    </div>
                                    <span class="pull-left">&nbsp;- {{profile.ig_total_percentage}}% ({{profile.ig_followed_by | formatLargeNumbers}})</span>
                                </div>
                                <br/>
                                <div ng-if="profile.fb_total_percentage" class="percentage-bar">
                                    <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Facebook" tooltip-placement="top">
                                        <div class="progress-bar facebook-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{profile.fb_total_percentage}}%;">
                                        </div>
                                    </div>
                                    <span class="pull-left">&nbsp;- {{profile.fb_total_percentage}}% ({{profile.facebook_likes | formatLargeNumbers}})</span>
                                </div>
                                <br/>
                                <div ng-if="profile.yt_total_percentage" class="percentage-bar">
                                    <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Youtube" tooltip-placement="top">
                                        <div class="progress-bar youtube-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{profile.yt_total_percentage}}%;">
                                        </div>
                                    </div>
                                    <span class="pull-left">&nbsp;- {{profile.yt_total_percentage}}% ({{profile.youtube_subscriber_count | formatLargeNumbers}})</span>
                                </div>
                            </td>
                            <!-- List selectbox section -->
                            <td ng-show="(user_info | objLength) > 0">
                                <div class="checkbox checkbox-theme" style="margin-bottom: 0px;">
                                    <input type="checkbox" class="styled" ng-value="{{profile.profile_id}}" ng-click="add_remove_profile(profile.profile_id);" ng-checked="list.profiles[profile.profile_id] == profile.profile_id">
                                    <label></label>
                                </div>
                            </td>
                            <!-- END OF List selectbox section -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
