<!-- Remove profiles from already existing list -->
<div class="modal-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="modal-title col-xs-11 col-sm-11 col-md-11 col-lg-11" style="display: inline-block;"><strong>Manage List Users</strong></h4>
        <a class="modal-title col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: right;" ng-click="close_popup();"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
<div class="modal-body" style="display:inline-block;width:100%;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5><strong>Add users in list:</strong></h5>
        <form ng-submit="add_list_users();">
            <div class="form-group">
                <span>Select User(s):</span>
                <br>
                <ui-select multiple ng-model="list.users" theme="select2">
                    <ui-select-match placeholder="select users to add">{{(($item.firstname) ? $item.firstname : 'no name in db') + '(' + $item.email + ')'}}</ui-select-match>
                    <ui-select-choices repeat="user in all_users | props_filter: {email: $select.search}">
                        <span ng-bind-html="user.firstname | highlight: $select.search"></span>
                        <small ng-bind-html="user.email | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
                <span class="error" ng-show="errors.users.length > 0" style="">{{errors.users}}</span>
                <br>
                <br>
                <span>Select Role:</span>
                <br>
                <ui-select ng-model="list.user_role" theme="select2">
                    <ui-select-match placeholder="select user role">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices repeat="user_role in user_roles">
                        <div ng-bind-html="user_role.text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <span class="error" ng-show="errors.user_role.length > 0" style="">{{errors.user_role}}</span>
                <br>
                <div class="checkbox checkbox-theme" style="margin-bottom: 0px;">
                    <input type="checkbox" class="styled" ng-model="list.notify">
                    <label>Notify by Email</label>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:50px;height:500px;overflow:scroll;">
        <h5><strong>Users who are already assosiated with this list:</strong></h5>
        <table class="table" ng-cloak>
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email
                        <input type="text" ng-model="search.email" placeholder="filter" maxlength="100" style="width:100px" />
                    </th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list_user in list_users | filter:search">
                    <td class="text-center">{{(list_user.firstname) ? list_user.firstname : '' +' '+ (list_user.lastname) ? list_user.lastname : ''}}</td>
                    <td class="text-center">{{list_user.email}}</td>
                    <td class="text-center">
                        <a ng-if="list_user.user_role === 'owner' || list_user.id === user_info.id">
                                {{list_user.user_role}}
                        </a>
                        <a ng-if="list_user.user_role !== 'owner' && list_user.id !== user_info.id" href="#" editable-select="list_user.user_role" e-ng-options="user_role.value as user_role.text for user_role in user_roles" e-required onaftersave="modify_role(list_user.list_id, list_user.id, list_user.user_role);" e-name="list_user.user_role">
                                {{list_user.user_role}}
                        </a>
                    </td>
                    <td class="text-center">
                        <a ng-if="list_user.user_role !== 'owner' && list_user.id !== user_info.id" ng-click="remove_list_user(list_user.list_id, list_user.id);" confirm-settings="{size: 'lg'}" confirm="Are you sure you want to remove this user from list?"><i class="glyphicon glyphicon-trash" style="color: red;"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
