<div id="lists-container" class="container" ng-cloak>
    <div class="row top-border bg-white layout">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
            <span class="start">
                <h1>My Lists</h1>
            </span>
            <span class="middle">
                &nbsp;
            </span>
            <span class="end">
                <a ui-sref="add_list" class="btn btn-success">Create a list</a>
            </span>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <uib-tabset active="0">
                <uib-tab index="0" heading="I Own">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table" ng-cloak>
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">
                                        <a ng-click="sort_results('a.name');"><span class="sorting sort_asc">Name</span></a>&nbsp;

                                        <i ng-show="(owner_sort_by === 'a.name' && owner_sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                                        <i ng-show="(owner_sort_by === 'a.name' && owner_sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                                    </th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">
                                        <a ng-click="sort_results('number_of_influencers');"><span class="sorting sort_asc">Influencers No.</span></a>&nbsp;

                                        <i ng-show="(owner_sort_by === 'number_of_influencers' && owner_sort_order.toLowerCase() == 'desc')" class="glyphicon glyphicon-triangle-top"></i>
                                        <i ng-show="(owner_sort_by === 'number_of_influencers' && owner_sort_order.toLowerCase() == 'asc')" class="glyphicon glyphicon-triangle-bottom"></i>
                                    </th>
                                    <th class="text-center">Sub Lists</th>
                                    <th>Reach</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="owner_lists === null">
                                    <td colspan="5">No record found...</td>
                                </tr>
                                <tr ng-else ng-repeat="owner_list in owner_lists">
                                    <td class="text-center">
                                        <img width="50" alt="List Picture" class="img-rounded" src="http://dummyimage.com/50x50/999/ffffff&text={{owner_list.name}}" />
                                    </td>

                                    <td class="text-center">
                                        <a ui-sref="list({list_id: owner_list.id})">{{owner_list.name}}</a>
                                    </td>

                                    <td class="text-center">
                                        {{owner_list.description}}
                                    </td>

                                    <td class="text-center">
                                        {{owner_list.number_of_influencers}}
                                    </td>

                                    <td class="text-center">
                                        {{owner_list.total_subchilds}}
                                    </td>

                                    <td>
                                        <div ng-if="owner_list.ig_reach" class="percentage-bar">
                                            <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Instagram" tooltip-placement="top">
                                                <div class="progress-bar instagram-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{owner_list.ig_percentage}}%;">
                                                </div>
                                            </div>
                                            <span class="pull-left">&nbsp;- {{owner_list.ig_percentage}}% ({{owner_list.ig_reach | formatLargeNumbers}})</span>
                                        </div>
                                        <br/>
                                        <div ng-if="owner_list.fb_reach" class="percentage-bar">
                                            <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Facebook" tooltip-placement="top">
                                                <div class="progress-bar facebook-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{owner_list.fb_percentage}}%;">
                                                </div>
                                            </div>
                                            <span class="pull-left">&nbsp;- {{owner_list.fb_percentage}}% ({{owner_list.fb_reach | formatLargeNumbers}})</span>
                                        </div>
                                        <br/>
                                        <div ng-if="owner_list.yt_reach" class="percentage-bar">
                                            <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Youtube" tooltip-placement="top">
                                                <div class="progress-bar youtube-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{owner_list.yt_percentage}}%;">
                                                </div>
                                            </div>
                                            <span class="pull-left">&nbsp;- {{owner_list.yt_percentage}}% ({{owner_list.yt_reach | formatLargeNumbers}})</span>
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <a ng-click="delete_list(owner_list.id);" confirm-settings="{size: 'lg'}" confirm="Are you sure you want to delete list {{owner_list.name}}? Note: If you will delete this list then all the sub-lists will be deleted too."><i class="glyphicon glyphicon-trash" style="color: red;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-container">
                            <uib-pagination total-items="owner_bigTotalItems" ng-model="owner_bigCurrentPage" max-size="owner_maxSize" class="pagination-sm" boundary-links="true" items-per-page="owner_itemsPerPage" ng-change="owner_change_page_value(owner_bigCurrentPage)"></uib-pagination>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Member Lists">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table" ng-cloak>
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Influencers No.</th>
                                    <th>Reach</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="member_lists === null">
                                    <td colspan="5">No record found...</td>
                                </tr>

                                <tr ng-else ng-repeat="member_list in member_lists">
                                    <td class="text-center">
                                        <img width="50" alt="List Picture" class="img-rounded" src="http://dummyimage.com/50x50/999/ffffff&text={{member_list.name}}" />
                                    </td>

                                    <td class="text-center">
                                        <a ui-sref="list({list_id: member_list.id})">{{member_list.name}}</a>
                                    </td>

                                    <td class="text-center">
                                        {{member_list.description}}
                                    </td>

                                    <td class="text-center">
                                        {{member_list.number_of_influencers}}
                                    </td>

                                    <td>
                                        <div ng-if="member_list.ig_reach" class="percentage-bar">
                                            <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Instagram" tooltip-placement="top">
                                                <div class="progress-bar instagram-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{member_list.ig_percentage}}%;">
                                                </div>
                                            </div>
                                            <span class="pull-left">&nbsp;- {{member_list.ig_percentage}}% ({{member_list.ig_reach | formatLargeNumbers}})</span>
                                        </div>
                                        <br/>
                                        <div ng-if="member_list.fb_reach" class="percentage-bar">
                                            <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Facebook" tooltip-placement="top">
                                                <div class="progress-bar facebook-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{member_list.fb_percentage}}%;">
                                                </div>
                                            </div>
                                            <span class="pull-left">&nbsp;- {{member_list.fb_percentage}}% ({{member_list.fb_reach | formatLargeNumbers}})</span>
                                        </div>
                                        <br/>
                                        <div ng-if="member_list.yt_reach" class="percentage-bar">
                                            <div class="progress pull-left" tooltip-trigger="mouseenter" uib-tooltip="Youtube" tooltip-placement="top">
                                                <div class="progress-bar youtube-back-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{member_list.yt_percentage}}%;">
                                                </div>
                                            </div>
                                            <span class="pull-left">&nbsp;- {{member_list.yt_percentage}}% ({{member_list.fb_reach | formatLargeNumbers}})</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
