<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl" ng-cloak>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/ui-select/dist/select.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.css">
    <link rel="stylesheet" type="text/css" href="./libs/angularjs-slider/dist/rzslider.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/angular-xeditable/dist/css/xeditable.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" type="text/css" href="./libs/angular-bootstrap-nav-tree/dist/abn_tree.css">
    <link rel="stylesheet" type="text/css" href="./css/core.css?v=1.0.0">
    <link rel="stylesheet" type="text/css" href="./libs/angular-ui-grid/ui-grid.min.css">
</head>

<body ng-cloak ng-style="isMenuVisible()?{'padding-top':'60px'}:{'padding-top':'0'}">
    <ng-include src="'./views/header.html'" ng-if="isMenuVisible()"></ng-include>
    <div ui-view></div>
    <br>
    <ng-include src="'./views/footer.html'"></ng-include>
    <!-- All libs goes here -->
    <script type="text/javascript" src="./libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="./libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="./libs/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="./libs/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="./libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./libs/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="./libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="./libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="./libs/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="./libs/ui-select/dist/select.js"></script>
    <script type="text/javascript" src="./libs/angularjs-slider/dist/rzslider.min.js"></script>
    <!--<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>-->
    <script type="text/javascript" src="./libs/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="./libs/highcharts-ng/dist/highcharts-ng.min.js"></script>
    <!--<script type="text/javascript" src="http://code.highcharts.com/maps/modules/map.js"></script>-->
    <script type="text/javascript" src="./libs/highcharts/modules/map.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/mapdata/custom/world.js"></script>
    <script type="text/javascript" src="./libs/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="./libs/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>-->
    <script type="text/javascript" src="./libs/lodash/lodash.js"></script>
    <script type="text/javascript" src="./libs/angular-confirm-modal/angular-confirm.min.js"></script>

    <script type="text/javascript" src="./js/core.js?v=1.0.0"></script>

    <!-- @if NODE_ENV == 'dev' -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- @endif -->

    <script type="text/javascript" src="./libs/angular-ui-grid/ui-grid.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-85532630-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
