<div id="new-user-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <!--        side menu bar-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-cloak>
            <!-- SIDEBAR MENU -->
            <div class="dashboard-menu">
                <h1>Dashboard</h1>
                <ul class="nav">
                    <li>
                        <a href="#/user/dashboard/blogs">
                            <i class="glyphicon glyphicon-book"></i> Manage Blogs
                        </a>

                    </li>
                    <li class="active">
                        <a href="#/user/dashboard/users">
                            <i class="glyphicon glyphicon-user"></i> Manage Users
                        </a>
                    </li>
                    <li>
                        <a href="#/user/dashboard/parameters">
                            <i class="glyphicon glyphicon-cog"></i> Manage Parameters
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>

        <!--      main content area-->
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 top-border background-white dashboard-main-content-area">
            <div class="dashboard-title row">
                <span class="start capital-word col-sm-4">
                    <h1>Create User</h1>
                </span>
                <span class="middle col-sm-4"></span>
                <span class="end col-sm-4">
                    <a class="btn btn-success" href="#/user/dashboard/users">Back to user list</a>
                </span>
            </div>
            <hr>
            <div class="row">
                <div class="loading" ng-if="is_loading">
                    <img class="" src="/css/images/user/loading.gif" />
                </div>
                <div class="alert alert-danger col-sm-12" ng-if="error_message" ng-bind="error_message"></div>
                <div class="alert alert-success col-sm-12" ng-if="success_message" ng-bind="success_message"></div>
                <form novalidate name="createUserForm" role="form">
                    <div class="form-group col-sm-6">
                        <label>Firstname *</label>
                        <input type="text" class="form-control" ng-model="user.firstname" name="firstname" required ng-minlength="3">
                        <span ng-show="createUserForm.firstname.$error.required && createUserForm.firstname.$touched" class="error ng-hide">Please enter firstname</span>
                        <span ng-show="createUserForm.firstname.$error.minlength && createUserForm.firstname.$touched" class="error ng-hide">Please enter atleast 3 characters</span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Lastname *</label>
                        <input type="text" class="form-control" ng-model="user.lastname" name="lastname" required>
                        <span ng-show="createUserForm.lastname.$error.required && createUserForm.lastname.$touched" class="error ng-hide">Please enter lastname</span>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Email *</label>
                        <input type="text" class="form-control" ng-model="user.email" name="email" required ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/">
                        <span ng-show="createUserForm.email.$error.required && createUserForm.email.$touched" class="error ng-hide">Please enter email address</span>
                        <span ng-show="createUserForm.email.$error.pattern && createUserForm.email.$touched" class="error ng-hide">Please enter correct email address</span>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Role *</label>
                        <select class="form-control" name="role" required ng-model="user.role" ng-options="option.role for option in list_roles track by option.id" ng-init="user.role = list_roles[0]">
                        </select>
                        <span ng-show="createUserForm.role.$error.required && createUserForm.role.$touched" class="error ng-hide">Please select role</span>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Expires at</label>
                        <input type="date" class="form-control" ng-model="user.expires_at" name="expires_at">
                    </div>
                    <div class="form-group col-sm-12">
                        <button ng-click="create_user(createUserForm)" class="btn btn-success create-button">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>