<div id="parameters-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <!--        side menu bar-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-cloak>
            <!-- SIDEBAR MENU -->
            <div class="dashboard-menu">
                <h1>Dashboard</h1>
                <ul class="nav">
                    <li>
                        <a href="#/user/dashboard/blogs">
                            <i class="glyphicon glyphicon-book"></i> Manage Blogs
                        </a>

                    </li>
                    <li>
                        <a href="#/user/dashboard/users">
                            <i class="glyphicon glyphicon-user"></i> Manage Users
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/user/dashboard/parameters">
                            <i class="glyphicon glyphicon-cog"></i> Manage Parameters
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>

        <!--      main content area-->
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 top-border background-white dashboard-main-content-area">
            <div class="dashboard-title row">
                <span class="start capital-word col-sm-4">
                    <h1>Media Value Parameters</h1>
                </span>
                <span class="end col-sm-4 "></span>
            </div>
            <hr>
        </div>
    </div>
</div>