<div id="user-logs-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <!--        side menu bar-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-cloak>
            <!-- SIDEBAR MENU -->
            <div class="dashboard-menu">
                <h1>Dashboard</h1>
                <ul class="nav">
                    <li>
                        <a href="#/user/dashboard/blogs">
                            <i class="glyphicon glyphicon-book"></i> Manage Blogs
                        </a>

                    </li>
                    <li class="active">
                        <a href="#/user/dashboard/users">
                            <i class="glyphicon glyphicon-user"></i> Manage Users
                        </a>
                    </li>
                    <li>
                        <a href="#/user/dashboard/parameters">
                            <i class="glyphicon glyphicon-cog"></i> Manage Parameters
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>

        <!--      main content area-->
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 top-border background-white dashboard-main-content-area">
            <div class="dashboard-title row">
                <span class="start capital-word col-sm-4">
                    <h1>User Logs</h1>
                </span>
                <span class="end col-sm-4">
                </span>
                <span class="end col-sm-4">
                    <a class="btn btn-success" href="#/user/dashboard/users">Back to users</a>
                </span>
            </div>
            <div>
                <div>
                    Search :
                    <input type="text" ng-model="searck_keyword" />
                </div>
                <br>
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold" class="menu-header">
                        <td style="width:12%">Action</td>
                        <td style="width:5%">Time</td>
                    </tr>
                    <tr ng-repeat="log in logs | filter:searck_keyword">
                        <td>
                            <span ng-if="log.path === '/api/user/login' || log.path === '/user/login'">Login</span>
                            <span ng-if="log.path === '/api/user/logout' || log.path === '/user/logout'">Logout</span>
                        </td>
                        <td>
                            <span>{{log.time | date:"dd/MM/yyyy HH:mm:ss Z"}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>