<div id="users-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <!--        side menu bar-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-cloak>
            <!-- SIDEBAR MENU -->
            <div class="dashboard-menu">
                <h1>Dashboard</h1>
                <ul class="nav">
                    <li>
                        <a href="#/user/dashboard/blogs">
                            <i class="glyphicon glyphicon-book"></i> Manage Blogs
                        </a>

                    </li>
                    <li class="active">
                        <a href="#/user/dashboard/users">
                            <i class="glyphicon glyphicon-user"></i> Manage Users
                        </a>
                    </li>
                    <li>
                        <a href="#/user/dashboard/parameters">
                            <i class="glyphicon glyphicon-cog"></i> Manage Parameters
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>

        <!--      main content area-->
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 top-border background-white dashboard-main-content-area">
            <div class="dashboard-title row">
                <span class="start capital-word col-sm-4">
                    <h1>Users</h1>
                </span>
                <span class="middle col-sm-4">Currently <strong class="color-theme-green">{{users.length}}</strong> users in our database</span>
                <span class="end col-sm-4">
                    <a class="btn btn-success" href="#/user/dashboard/users/new">Create a new user</a>
                </span>
            </div>
            <div>
                <div>
                    Search :
                    <input type="text" ng-model="searck_keyword" />
                </div>
                <br>
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold" class="menu-header">
                        <td style="width:12%">Details</td>
                        <td style="width:5%">Role</td>
                        <td style="width:47%">Expires at</td>
                        <td style="width:5%">Status</td>
                        <td style="width:14%">Last login</td>
                        <td style="width:14%">Create at</td>
                        <td style="width:2%"></td>
                    </tr>
                    <tr ng-repeat="user in users | filter:searck_keyword">
                        <td ng-click="go_to_user(user.id)">
                            <span> 
                                <span>{{user.firstname}}  {{user.lastname}}</span>
                            <br>
                            <span>{{user.email}}</span>
                            </span>
                        </td>
                        <td>
                            <a href="#" editable-select="user.role_id" onShow="load_roles()" e-ng-options="role.id as role.role for role in roles" e-required onaftersave="modify_role(user)" e-name="user.role_id">
                                {{ user.role}}
                            </a>
                        </td>
                        <td>
                            <a href="#" editable-bsdate="user.expires_at" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy" e-required onaftersave="modify_expiry(user)">
                                {{ (user.expires_at | date:"dd/MM/yyyy") || 'Never' }}
                            </a>
                        </td>
                        <td>
                            <span ng-if="user.is_verified === 'N'"> 
                                pending                            
                            </span>
                            <span ng-if="user.is_verified === 'Y'"> 
                                Verified                            
                            </span>
                        </td>
                        <td>
                            <span> 
                                {{user.last_login}}                              
                            </span>
                        </td>
                        <td>
                            <span> 
                                {{user.created_at}}                              
                            </span>
                        </td>
                        <td>
                            <a class="glyphicon glyphicon-remove" ng-click="delete(user)"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>