<div id="monitors-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <!--      main content area-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border background-white dashboard-main-content-area">
            <div class="dashboard-title row" ng-if="is_main_page">
                <span class="start capital-word col-sm-4">
                    <h1>Monitors</h1>
                </span>
                <span class="middle col-sm-4"></span>
                <span class="end col-sm-4">
                    <a class="btn btn-success" href="#/monitors/new">Create a monitor</a>
                </span>
            </div>
            <div class="dashboard-title row" ng-if="!is_main_page">
                <span class="start capital-word col-sm-4">
                    <h1 ng-bind="group_name"></h1>
                </span>
                <span class="middle col-sm-4"></span>
                <span class="end col-sm-4">
                    <a class="btn btn-success" ui-sref="monitors()" ui-sref-opts="{inherit: false}">Back to monitors</a>
                </span>
            </div>
            <hr>
            <div>
                <div class="row monitors-list-wrapper" ng-if="is_main_page">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" ng-repeat="monitor in monitors_by_group">
                        <a href="" ui-sref="monitors({group_name:monitor[0].group_name?monitor[0].group_name: 'Not grouped'})" class="thumbnail">
                            <div class="img-wrapper">
                                <img ng-src="{{influencer.ig_profile_picture || influencer.youtube_profile_picture || influencer.facebook_picture || '/css/images/monitors/default_influencer_picture.png' }}" ng-repeat="influencer in monitor track by $index" onerror="this.src='/css/images/monitors/default_influencer_picture.png'" ng-class="{'one' : (monitor.length == 1), 'two': (monitor.length == 2), 'three': (monitor.length == 3), 'four': (monitor.length >= 4)}" ng-if="$index < 4" />
                                <div class="monitor-name text-center col-xs-12" ng-bind="monitor[0].group_name"></div>
                                <div class="overlay">
                                    <span class="view glyphicon glyphicon-eye-open"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row monitors-list-wrapper" ng-if="!is_main_page">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" ng-repeat="monitor in monitors_list">
                        <a ui-sref="monitor({id:monitor[0].id})" class="thumbnail">
                            <div class="img-wrapper">
                                <img ng-src="{{influencer.ig_profile_picture || influencer.youtube_profile_picture || influencer.facebook_picture || '/css/images/monitors/default_influencer_picture.png' }}" ng-repeat="influencer in monitor track by $index" onerror="this.src='/css/images/monitors/default_influencer_picture.png'" ng-class="{'one' : (monitor.length == 1), 'two': (monitor.length == 2), 'three': (monitor.length == 3), 'four': (monitor.length >= 4)}" ng-if="$index < 4" />
                                <div class="monitor-name text-center col-xs-12" ng-bind="monitor[0].name"></div>
                                <div class="overlay">
                                    <span class="view glyphicon glyphicon-eye-open"></span>
                                    <span class="delete glyphicon glyphicon-remove" ng-click="delete_monitor($event, monitor);$event.stopPropagation();" ui-sref="monitors()"></span>
                                    <span class="created_at" ng-if="monitor[0].updated_at">
                                            Updated at 
                                            {{monitor[0].updated_at |  date:'dd/MM/yyyy'}}
                                        </span>
                                    <span class="created_at" ng-if="!monitor[0].updated_at">
                                            Created at
                                            {{monitor[0].created_at |  date:'dd/MM/yyyy'}}
                                        </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>