<div id="monitor-container" class="container" ng-cloak>
    <a href="javascript:void(0)" ng-if="!activate_edit_group_name" editable-text="monitor.group_name" onaftersave="modify_group_name(monitor.id, monitor.group_name)" class="group_name" ng-click="open_edit_layout('group_name')">{{monitor.group_name || "Not Grouped"}}</a>
    <div ng-if="activate_edit_group_name" class="row edit-influencer-wrapper">
        <form novalidate name="edit_group_name_form" role="form" class="edit_group_name_form col-xs-12">
            <ui-select tagging tagging-label="false" ng-model="updated.group_name" theme="select2" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 no-padding" ui-select-required name="group_name">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="group in group_list | filter:$select.search" refresh="search_group($select.search)" refresh-delay="0">
                    {{group}}
                </ui-select-choices>
            </ui-select>
            <div ng-show="!edit_group_name_form.group_name.$valid && edit_group_name_form.group_name.$touched" class="error ng-hide">Please enter select group name</div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 group-update-btn">
                <button ng-click="update_group_name(edit_group_name_form, monitor.id)" class="btn btn-success create-button ">Update</button>
                <button ng-click="close_edit_layout('group_name')" class="btn btn-success create-button ">Cancel</button>
            </div>
        </form>
    </div>
    <!---------------------- monitor details section ---------------------------->
    <div class="row no-margin monitor-first-section section">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 monitor-info">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 name">
                <a href="#" editable-text="monitor.name" onaftersave="modify_name(monitor.id, monitor.name)">{{monitor.name}}</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="col-xs-11 no-padding">
                    <a ng-if="!activate_edit_tags" ng-bind="tag.tag" class="tag" ng-repeat="tag in tags" ui-sref="monitor({id:tag.id, tag_id:tag.tag_id})"></a>
                </div>
                <a ng-if="!activate_edit_tags && !is_tag_selected" ng-click="open_edit_layout('tags')" href="javascript:void(0)" class="glyphicon glyphicon-pencil pull-right edit-icon"></a>
                <div class="row" ng-if="activate_edit_tags">
                    <form novalidate name="edit_tag_form" role="form">
                        <ui-select multiple ng-model="updated.tags" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ui-select-required name="updated_tag">
                            <ui-select-match>{{$item.tag}}</ui-select-match>
                            <ui-select-choices repeat="tag in searched_tags | filter:$select.search" refresh="search_tags($select.search)" refresh-delay="0">
                                <div ng-bind-html="tag.tag | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 error ng-hide" ng-show="!edit_tag_form.updated_tag.$valid">Please select tags</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 update-btn">
                            <button ng-click="update_tags(edit_tag_form)" class="btn btn-success create-button ">Update</button>
                            <button ng-click="close_edit_layout('tags')" class="btn btn-success create-button ">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 date item-wrapper">
                MONITOR FROM:
                <br/>
                <a href="#" editable-bsdate="monitor.from" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy" e-required onaftersave="modify_date(monitor.id, monitor.from, monitor.to, true)">
                    {{(monitor.from | date:"dd/MM/yyyy")}}
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 date">
                MONITOR TO:
                <br/>
                <a href="#" editable-bsdate="monitor.to" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy" e-required onaftersave="modify_date(monitor.id, monitor.from, monitor.to, false)">
                    {{(monitor.to | date:"dd/MM/yyyy")}}
                </a>
                <a ng-click="export()" href="javascript:void(0)" class="pull-right excel-icon">
                    <i class="fa fa-file-excel-o"></i>
                </a>
                <div ui-grid="gridOptions" ui-grid-exporter class="grid"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 infleuncer-wrapper">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 infleuncer-heading-wrapper">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <span class="col-xs-12 heading">INDIVIDUAL INFLUENCERS ({{individual_influencers.length}})</span>
                    <a ng-if="!activate_edit_individual_influencers" ng-repeat="influencer in individual_influencers" ui-sref="monitor({id:influencer.id, influencer_id:influencer.influencer_id})" uib-tooltip="{{influencer.profile_name}}" tooltip-placement="bottom">
                        <img ng-src="{{influencer.ig_profile_picture || influencer.youtube_profile_picture || influencer.facebook_picture || '/css/images/monitors/default_influencer_picture.png' }}" class="influencer-image" ng-class="(influencer.post_available == true) ? 'post-available' : 'post-not-available'" error-src="/css/images/monitors/default_influencer_picture.png" />
                    </a>
                    <a ng-if="!activate_edit_individual_influencers && !is_influencer_page" ng-click="open_edit_layout('individual_influencers')" href="javascript:void(0)" class="glyphicon glyphicon-pencil pull-right edit-icon"></a>
                    <div ng-if="activate_edit_individual_influencers" class="row edit-influencer-wrapper">
                        <form novalidate name="edit_influencer_form" role="form">
                            <ui-select multiple ng-model="updated.individual_influencers" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name="updated_influencers" ui-select-required>
                                <ui-select-match>
                                    <img ng-src="{{$item.profile_picture || $item.ig_profile_picture || $item.youtube_profile_picture || $item.facebook_picture || '/css/images/monitors/default_influencer_picture.png' }}" class="selected-infuencer-image" />
                                    <span class="selected-infuencer-name">{{$item.profile_name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="influencer in searched_individual_influencers | filter:$select.search" refresh="search_influencers($select.search)" refresh-delay="0">
                                    <img ng-src="{{influencer.profile_picture}}" class="selected-infuencer-image" / error-src="/css/images/monitors/default_influencer_picture.png">
                                    <span ng-bind-html="influencer.profile_name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 error ng-hide" ng-show="!edit_influencer_form.updated_influencers.$valid">Please select influencers</div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 update-btn">
                                <button ng-click="update_influencers(edit_influencer_form)" class="btn btn-success create-button ">Update</button>
                                <button ng-click="close_edit_layout('individual_influencers')" class="btn btn-success create-button ">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 infleuncer-heading-wrapper">
                    <span class="col-xs-12 heading">INFLUENCERS FROM LIST({{influencers_from_list.length}})</span>
                    <a ng-if="!activate_edit_influencers" ng-repeat="influencer in influencers_from_list" ui-sref="monitor({id:influencer.id, influencer_id:influencer.influencer_id})" uib-tooltip="{{influencer.profile_name}}" tooltip-placement="bottom">
                        <img ng-src="{{influencer.ig_profile_picture || influencer.youtube_profile_picture || influencer.facebook_picture || '/css/images/monitors/default_influencer_picture.png' }}" class="influencer-image" ng-class="(influencer.post_available == true) ? 'post-available' : 'post-not-available'" error-src="/css/images/monitors/default_influencer_picture.png" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 infleuncer-heading-wrapper">
                <span class="col-xs-12 heading">USERS ({{users.length}})</span>
                <a ng-if="!activate_edit_users" ng-repeat="user in users" uib-tooltip="{{user.email}}" tooltip-placement="bottom">
                    <img ng-src="/css/images/monitors/default_influencer_picture.png" class="influencer-image" />
                </a>
                <a ng-if="!activate_edit_users && !is_influencer_page" ng-click="open_edit_layout('users')" href="javascript:void(0)" class="glyphicon glyphicon-pencil pull-right edit-icon"></a>
                <div ng-if="activate_edit_users" class="row edit-influencer-wrapper">
                    <form novalidate name="edit_user_form" role="form">
                        <ui-select multiple ng-model="updated.users" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name="updated_users" ui-select-required>
                            <ui-select-match>
                                <img ng-src="/css/images/monitors/default_influencer_picture.png" class="selected-infuencer-image" />
                                <span class="selected-infuencer-name">{{$item.email}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="user in searched_users | filter:$select.search" refresh="search_users($select.search)" refresh-delay="0">
                                <img ng-src="/css/images/monitors/default_influencer_picture.png" class="selected-infuencer-image" />
                                <span ng-bind-html="user.email | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 error ng-hide" ng-show="!edit_user_form.updated_users.$valid">Please select users</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 update-btn">
                            <button ng-click="update_users(edit_user_form)" class="btn btn-success create-button ">Update</button>
                            <button ng-click="close_edit_layout('users')" class="btn btn-success create-button ">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---------------------- end of monitor details section ---------------------------->
    <!---------------------- Post count section ----------------------------------------->
    <div class="row section main-section no-margin">
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1 publications text-center no-padding">
            <span class="count" ng-bind="no_of_influencers_used_tags || 0"></span>
            <br/>
            <span class="title">INFLUENCERS</span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 publications text-center">
            <span class="count" ng-bind="posts.length || 0"></span>
            <br/>
            <span class="title">PUBLICATIONS</span>
            <div class="hr-vertical"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1 text-center no-padding">
            <span class="count" ng-bind="reach | formatLargeNumbers"></span>
            <br/>
            <span class="title">REACH</span>
            <div class="hr-vertical"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center no-padding">
            <span class="count" ng-bind="impressions | formatLargeNumbers"></span>
            <br/>
            <span class="title">IMPRESSIONS</span>
            <div class="hr-vertical"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center no-padding">
            <span class="count" ng-bind="interactions | formatLargeNumbers"></span>
            <br/>
            <span class="title">INTERACTIONS</span>
            <div class="hr-vertical"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center no-padding">
            <span class="count" ng-bind="engagement_rate | formatLargeNumbers"></span>
            <br/>
            <span class="title">ENGAGEMENT RATE</span>
            <div class="hr-vertical"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center no-padding">
            <span class="count">{{media_value | formatLargeNumbers}}€</span>
            <br/>
            <span class="title">MEDIA VALUE</span>
            <div class="hr-vertical"></div>
        </div>
    </div>
    <!------------------------- End of post count section ----------------------------------------->
    <!----------------------------- Mertic by day section ----------------------------------------->
    <div class="row no-margin section" ng-if="posts.length">
        <div class="row no-margin">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 title">Metrics by day</div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 dropdown-filter">
                <div class="btn-group pull-right" uib-dropdown>
                    <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                        <span ng-bind="metrics_by_day_filter"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu-right dropdown-filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem" ng-repeat="legend in metrics_by_day_legends" ng-click=" get_metrics_by_day(legend)">
                            <a ng-bind="legend" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <highchart id="metrics_by_day" config="metrics_by_day_config"></highchart>
    </div>
    <!----------------------------- End of Mertics by day section ----------------------------------->
    <!----------------------------- Start of country section ---------------------------------------->
    <div class="row section no-margin" ng-if="posts.length">
        <div class="row no-margin">
            <div class="title col-xs-12 col-sm-12 col-md-8 col-lg-8">Countries statistics</div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 dropdown-filter">
                <div class="btn-group pull-right" uib-dropdown>
                    <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                        <span ng-bind="country_map_legend_filter"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu-right dropdown-filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem" ng-repeat="legend in country_map_legends" ng-click=" generate_country_map(legend)">
                            <a ng-bind="legend" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="content-wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <highchart id="country-map" config="country_map_config"></highchart>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 country-legend">
                <ul class="country-list">
                    <li ng-repeat="data in country_map_series">
                        <span class="name">{{data['hc-key'] || 'Others' | get_country_by_code}}</span>
                        <span>- {{data.value|| 0 | formatLargeNumbers}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!----------------------------- End of country section ------------------------------------------->
    <!----------------------------- Start of origin of posts ----------------------------------------->
    <div class="row origin-posts-top-influencers-section row" ng-if="posts.length">
        <!-- Origin post section -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section no-padding">
                <div class="row no-margin">
                    <div class="title col-xs-12 col-sm-12 col-md-8 col-lg-8">Origin of posts</div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 dropdown-filter">
                        <div class="btn-group pull-right" uib-dropdown>
                            <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                                <span ng-bind="origin_of_posts_filter"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu-right dropdown-filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem" ng-repeat="legend in origin_of_posts_legends" ng-click=" generate_origin_of_posts_chart(legend)">
                                    <a ng-bind="legend" href="javascript:void(0)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="origin-by-posts-wrapper">
                    <highchart id="origin-by-posts" config="origin_of_posts_config"></highchart>
                </div>
            </div>
        </div>
        <!---------------------------- End of origin post section ------------------->
        <!------------------------------ Top portential influencers section ----------->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-potential-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section no-padding">
                <div class="row no-margin">
                    <div class="title col-xs-12 col-sm-12 col-md-8 col-lg-8">Influencers</div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 dropdown-filter">
                        <div class="btn-group pull-right" uib-dropdown>
                            <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                                <span ng-bind="top_potential_infleuncers_filter"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu-right dropdown-filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem" ng-repeat="legend in origin_of_posts_legends" ng-click=" get_top_potential_influencers(legend)">
                                    <a ng-bind="legend" href="javascript:void(0)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 list" ng-repeat="top_potential_influencer in top_potential_influencers">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 profile-image-wrapper">
                                <span>{{$index+1}}.</span>
                                <img class="influencer-image" ng-src="{{top_potential_influencer.instagram_profile_picture || top_potential_influencer.youtube_profile_picture || top_potential_influencer.facebook_profile_picture || '/css/images/monitors/default_influencer_picture.png'}}" error-src="/css/images/monitors/default_influencer_picture.png" />
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                <a ui-sref="profile({slug: top_potential_influencer.profile_slug, active_platform: (top_potential_influencer.instagram_id) ? 'instagram' : (top_potential_influencer.facebook_id) ? 'facebook' : 'youtube'})" ng-bind="top_potential_influencer.profile_name" class="profile-name"></a>
                                <i class="fa fa-facebook-square fa-2 facebook-color"></i>
                                <span ng-bind="top_potential_influencer.facebook || 0  | formatLargeNumbers">
                                </span>
                                <i class="fa fa-instagram fa-2 instagram-color"></i>
                                <span ng-bind="top_potential_influencer.instagram || 0 | formatLargeNumbers"></span>
                                <i class="fa fa-youtube fa-2 youtube-color"></i>
                                <span ng-bind="top_potential_influencer.youtube || 0 | formatLargeNumbers"></span>
                            </div>
                        </div>
                    </div>
                    <ul ng-if="top_potential_influencers_size > 10" uib-pager total-items="top_potential_influencers_size" ng-model="top_potential_influencers_current_page" class="top-potential-pager col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-change="next_page(top_potential_influencers_current_page, 10)"></ul>
                    <ul ng-if="top_potential_influencers_size <= 10" class="default-top-potential-pager"></ul>
                </div>
            </div>
        </div>
        <!------------------- End of Top portential influencers section ----------->
    </div>
    <!------------------------ Media wise posts count and filter section ----------->
    <div class="row section post-header no-margin" ng-if="posts.length">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 post-count">
            <span class="title">Feed</span>
            <span>
                <i class="fa fa-facebook-square fa-2 facebook-color"></i>
                <span ng-bind="posts_by_media.facebook.length || 0"></span>
            </span>
            <span>
                <i class="fa fa-instagram fa-2 instagram-color"></i>
                <span ng-bind="posts_by_media.instagram.length || 0"></span>
            </span>
            <span>
                <i class="fa fa-youtube fa-2 youtube-color"></i>
                <span ng-bind="posts_by_media.youtube.length || 0"></span>
            </span>
            <span>
                Total
                <span ng-bind="posts.length || 0"></span>
            </span>
        </div>
        <div class="btn-group pull-right" uib-dropdown>
            <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                <i ng-if="value" class="fa fa-{{(key === 'facebook') ? 'facebook-square' : key}} fa-2 {{key}}-color" ng-repeat="(key, value) in networks"></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu-right filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" ng-repeat="(key, value) in networks">
                    <i class="fa fa-{{(key === 'facebook') ? 'facebook-square' : key}} fa-2 filter-icon {{key}}-color"></i>
                    <input type="checkbox" ng-model="networks[key]" ng-change="filter_feed(networks)">
                </li>
            </ul>
        </div>
        <div class="btn-group pull-right feed-filter" uib-dropdown>
            <button id="btn-append-to-body" type="button" class="btn dropdown-filter-btn" uib-dropdown-toggle>
                <span ng-bind="post_filter_legend"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu-right dropdown-filter-wrapper" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" ng-repeat="legend in feed_filter" ng-click="post_order_by(legend)">
                    <a ng-bind="legend" href="javascript:void(0)"></a>
                </li>
            </ul>
        </div>
    </div>
    <!------------------ End of Media wise posts count and filter section ----------->
    <!----------------------- posts section --------------------------------------------->
    <div class="monitor-sixth-section row" ng-if="posts.length">
        <div ng-repeat="post in filtered_posts | limitTo: post_limit" class="post-wrapper col-sm-12 col-xs-12 col-md-4 col-lg-4">
            <div class="post no-padding">
                <div class="post-header">
                    <div class="row no-margin">
                        <a ui-sref="profile({slug: post.slug, active_platform: (post.instagram_id) ? 'instagram' : (post.facebook_id) ? 'facebook' : 'youtube'})">
                            <img ng-src="{{post.profile_picture}}" class="influencer-image" error-src="/css/images/monitors/default_influencer_picture.png" />
                            <span class="" ng-bind="post.inlfluencer_name"></span>
                        </a>
                        <div ng-if="post.media === 'instagram'" class="pull-right no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-right post-likes">
                                <span class="reach-interaction" uib-tooltip="Reach" tooltip-placement="bottom">{{post.reach | formatLargeNumbers}}</span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span ng-bind="post.likes_count"></span>
                                <span class="glyphicon glyphicon-comment"></span>
                                <span ng-bind="post.comments_count"></span>
                                <span class="reach-interaction" uib-tooltip="Engagement rate" tooltip-placement="bottom">{{((post.interactions/post.followed_by) * 100) | number:2}}</span>
                            </div>
                        </div>
                        <div ng-if="post.media === 'youtube'" class="pull-right no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-right post-likes">
                                <span class="reach-interaction" uib-tooltip="Reach" tooltip-placement="bottom">{{post.view_count | formatLargeNumbers}}</span>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span ng-bind="post.like_count"></span>
                                <span class="glyphicon glyphicon-comment"></span>
                                <span ng-bind="post.comment_count | formatLargeNumbers"></span>
                                <span class="reach-interaction" uib-tooltip="Engagement rate" tooltip-placement="bottom">{{((post.interactions/post.followed_by) * 100) | number:2}}</span>
                            </div>
                        </div>
                        <div ng-if="post.media === 'facebook'" class="pull-right no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-right post-likes">
                                <span class="reach-interaction" uib-tooltip="Reach" tooltip-placement="bottom">{{post.reach | formatLargeNumbers}}</span>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span ng-bind="post.likes_count"></span>
                                <span class="glyphicon glyphicon-comment"></span>
                                <span ng-bind="post.comments_count"></span>
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span ng-bind="post.shares_count"></span>
                                <span class="reach-interaction" uib-tooltip="Engagement rate" tooltip-placement="bottom">{{((post.interactions/post.followed_by) * 100) | number:2}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-content-wrapper" ng-if="post.media === 'instagram'">
                    <p ng-bind="post.caption | charactersLimit:35:true"></p>
                    <a ng-href="{{post.link}}" target="_blank" ng-if="post.type === 'image'">
                        <img ng-src="{{post.image_url}}" class="post-image" width="350px" height="350px" /></a>
                    <a ng-href="{{post.link}}" target="_blank" ng-if="post.type === 'video'">
                        <video width="350px" height="350px" controls ng-attr-poster="{{post.image_url}}">
                            <source ng-src="{{trustAsUrl(post.video_url)}}" type="video/mp4" />
                        </video>
                    </a>
                </div>
                <div class="post-content-wrapper" ng-if="post.media === 'youtube'">
                    <p ng-bind="post.title | charactersLimit:35:true"></p>
                    <a ng-href="{{'https://www.youtube.com/watch?v='+post.post_id}}" target="_blank">
                        <video width="350px" height="350px" controls ng-attr-poster="{{post.thumbnail}}">
                        </video>
                    </a>
                    <p ng-bind="post.description | charactersLimit:120:true"></p>
                </div>
                <div class="post-content-wrapper" ng-if="post.media === 'facebook'">
                    <p ng-bind="post.message | charactersLimit:35:true"></p>
                    <a ng-href="{{post.link}}" target="_blank">
                        <img ng-src="{{post.full_picture}}" class="post-image" width="350px" height="350px" />
                    </a>
                    <p ng-bind="post.description | charactersLimit:120:true"></p>
                </div>
                <div class="post-footer">
                    <span class="glyphicon glyphicon-time"></span>
                    <span ng-bind="post.created_time * 1000 | date:'dd/MM/yyyy HH:mm:ss'" class="post-date"></span>
                    <span ng-bind="post.tags | charactersLimit:20:true" class="pull-right tag" uib-tooltip="{{post.tags}}" tooltip-placement="bottom"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a ng-click="load_more()">More</a>
    </div>
    <!----------------------- End of posts section --------------------------------------------->

</div>