<div id="new-monitor-container" class="container" ng-cloak>
    <div class="row">
        <br/>
        <!--      main content area-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border background-white main-content-area">
            <div class="new-monitor-title row">
                <span class="start capital-word col-sm-4">
                    <h1>Create Monitor</h1>
                </span>
                <span class="middle col-sm-4"></span>
                <span class="end col-sm-4">
                    <a class="btn btn-success" ui-sref="monitors()" ui-sref-opts="{inherit: false}">Back to monitors</a>
                </span>
            </div>
            <hr>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="loading" ng-if="is_loading">
                    <img class="" src="/css/images/user/loading.gif" />
                </div>
                <div class="alert alert-danger row" ng-if="error_message" ng-bind="error_message"></div>
                <div class="alert alert-success row" ng-if="success_message" ng-bind="success_message"></div>
                <form novalidate name="create_new_monitor" role="form">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Monitor Group *</label>
                            <ui-select tagging tagging-label="false" ng-model="monitor.group" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ui-select-required name="group">
                                <ui-select-match>{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="group in group_list | filter:$select.search" refresh="search_group($select.search)" refresh-delay="0">
                                    {{group}}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="!create_new_monitor.group.$valid && create_new_monitor.group.$touched" class="error ng-hide">Please select group</div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Name *</label>
                            <input type="text" class="form-control" ng-model="monitor.name" name="name" required>
                            <span ng-show="create_new_monitor.name.$error.required && create_new_monitor.name.$touched" class="error ng-hide">Please enter monitor name</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Tags *</label>
                            <ui-select multiple ng-model="monitor.tags" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ui-select-required name="tags">
                                <ui-select-match>{{$item.tag}}</ui-select-match>
                                <ui-select-choices repeat="tag in tags | filter:$select.search" refresh="search_tag($select.search)" refresh-delay="0">
                                    <div ng-bind-html="tag.tag | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="!create_new_monitor.tags.$valid && create_new_monitor.tags.$touched" class="error ng-hide">Please select tags</div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Users</label>
                            <ui-select multiple ng-model="monitor.users" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-required name="users">
                                <ui-select-match>
                                    <span>{{$item.email}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="user in users | filter:$select.search" refresh="search_users($select.search)" refresh-delay="0">
                                    <span ng-bind-html="user.email | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>From *</label>
                            <input type="date" class="form-control" ng-model="monitor.from" name="from" required>
                            <span ng-show="create_new_monitor.from.$error.required && create_new_monitor.from.$touched" class="error ng-hide">Please enter monitor from date</span>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>To *</label>
                            <input type="date" class="form-control" ng-model="monitor.to" name="to" required>
                            <span ng-show="create_new_monitor.to.$error.required && create_new_monitor.to.$touched" class="error ng-hide">Please enter monitor to date</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>List</label>
                            <ui-select multiple ng-model="monitor.lists" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name="lists" ui-select-required>
                                <ui-select-match>
                                    <span class="selected-infuencer-name">{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="list in lists | filter:$select.search" refresh="search_lists($select.search)" refresh-delay="0">
                                    <span ng-bind-html="list.name | highlight: $select.search "></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Influencers</label>
                            <ui-select multiple ng-model="monitor.individual_influencers" theme="select2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name="individual_influencers" ui-select-required>
                                <ui-select-match>
                                    <img ng-src="{{$item.profile_picture}}" class="selected-infuencer-image" />
                                    <span class="selected-infuencer-name">{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="individual_influencer in individual_influencers | filter:$select.search" refresh="search_individual_influencers($select.search)" refresh-delay="0">
                                    <img ng-src="{{individual_influencer.profile_picture}}" class="selected-infuencer-image" />
                                    <span ng-bind-html="individual_influencer.name | highlight: $select.search "></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="(!create_new_monitor.individual_influencers.$valid && create_new_monitor.individual_influencers.$touched) && (!create_new_monitor.influencers_from_list.$valid && create_new_monitor.influencers_from_list.$touched)" class="error ng-hide">Please select influencers from list or individual</div>

                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <button ng-click="create_monitor(create_new_monitor)" class="btn btn-success create-button ">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>