<div id="leaderboard-container" class="container" ng-cloak>
    <div class="row top-border bg-white layout">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Leaderboard</h1>
            <hr>
        </div>
        <form ng-submit="fetch_profiles();">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Countries-->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ui-select multiple ng-model="leaderboard.selected_countries" theme="select2">
                        <ui-select-match placeholder="Country">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="country.code as country in countries | props_filter: {name: $select.search}">
                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span ng-show="leaderboard.error.country.length > 0" class="error">{{leaderboard.error.country}}</span>
                </div>
                <!-- END -->

                <!-- Gender -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ui-select multiple ng-model="leaderboard.selected_gender" theme="select2">
                        <ui-select-match placeholder="Gender">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="gender.code as gender in all_gender | props_filter: {name: $select.search}">
                            <div ng-bind-html="gender.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!-- END -->

                <!-- Theme -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ui-select multiple ng-model="leaderboard.selected_themes" theme="select2">
                        <ui-select-match placeholder="Themes">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="theme.code as theme in all_themes | props_filter: {name: $select.search}">
                            <div ng-bind-html="theme.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!-- END -->

            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Social platform -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ui-select ng-model="leaderboard.selected_platform" theme="select2">
                        <ui-select-match placeholder="Social Platform">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="social_platform.value as social_platform in all_social_platforms | filter: $select.search">
                            <div ng-bind-html="social_platform.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span ng-show="leaderboard.error.social_platform.length > 0" class="error">{{leaderboard.error.social_platform}}</span>
                </div>
                <!-- END -->

                <!-- KPI -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ui-select ng-model="leaderboard.kpi" theme="select2">
                        <ui-select-match placeholder="KPI">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="kpi.value as kpi in all_kpis | filter: $select.search">
                            <div ng-bind-html="kpi.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span ng-show="leaderboard.error.kpi.length > 0" class="error">{{leaderboard.error.kpi}}</span>
                </div>
                <!-- END -->
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Submit button -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <!-- END -->
            </div>
        </form>
    </div>
</div>
