#add-profile-container{
    .select2-container-multi .select2-choices{
	    min-width: 523px;
	}
    .suggestions{
        background-color: #eee;
        padding: 0 10px 10px 10px;
        .media{
            width: 20%;
            margin-top: 20px;
        }
        .full-name{
            font-size: 10px;
        }
        .radio{
            padding-right: 0px;
        }
        .media-body{
            padding-right: 5px;
        }
    }
}
