#profile-container{
    .top-thumb {
        background-color: #fff;
        background-position: center 25%;
        background-repeat: no-repeat;
        height: 200px;
        background-size: cover;
        -moz-background-size: cover;
        &:hover{
					box-shadow:0 0 10px #333;
				}
        }
	.profile-images-container{
		padding:0;
		a{
			padding:0;
			margin:0;
		}
	}
    .profile-image{
        img {
            width:160px;
        }
    }
	.growth-container{
		div.growth-value{
			color:#2095ff;
			font-size:40px;
			font-weight:300;
		}
		.growth-perc{
			color:#657886;
			font-size:15px;
		}
	}
	.metrics-container{
		.metric-info{
			h5{
				color:#2095ff;
				font-size: 20px;
			}
		}
		.metric-stats{
			text-align: center;
			p.grey_heart{
				i{
					color: grey;
					font-size: 18px;			
				}
				label{
					color: #2095ff;
					font-size: 20px;
					font-weight: 300;
				}
			}

			label.heading{
				color: #171717;
				font-size: 14px;
				font-weight: normal;
			}

		}
	}
	.map-container{
		margin: 0 0 0 15px;
		width: 100%;

		.form-control{
			width: 100px;
		}
	}
    .img-circle-custom{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 0px auto 10px auto;
    }
    .img-circle-1{
        width: 100px;
        height: 100px;
    }
    .img-circle-2{
        width: 90px;
        height: 90px;
    }
    .img-circle-3{
        width: 80px;
        height: 80px;
    }
    .img-circle-4{
        width: 70px;
        height: 70px;
    }    
    .add-information{
        margin-bottom: 0;
    }
    .add-information:hover, .comments:hover ~ .add-information, .likes:hover ~ .add-information, .views:hover ~ .add-information{
        -webkit-filter:brightness(50%);
        -moz-filter:brightness(50%);
        filter: url(#brightness); /* required for FF */
        filter:brightness(50%);
        border-color: #44ac8e !important;
    }
    .shadow-information{
        position: absolute;
        color: #eee;
        font-size: 20px;
    }
    .likes{
        top: 75px;
        left: 35px;
        z-index: 100000;
    }
    .comments{
        top: 75px;
        left: 142px;
        z-index: 100000;
    }
    .views{
        top: 110px;
        left: 80px;
        z-index: 100000;
    }
    .shadow-information sup{
        top: -3px;
    }
    .four-images {
        float: left;
        display: inline-block;
        width: 49%;
        margin: 0 1px 1px 0;
        .top-thumb{
            height: 100px !important;
        }
    }
    .table-representation{
        height: 280px;
        overflow: auto;
    }
    .since{
            color: #657886;
        }
    .ui-select-toggle, .ui-select-search{
        width: 100%;
    }
}
