#profiles-container{
	.profile_name{
		color:#333;
        font-size: 18px;
	}
	.table{
		tbody{
			tr{
				td{
					color: #657886;
				}
			}
		}
	}
	.filter-container{
		background-color:white;
		padding:10px;
		box-shadow:0 0 3px #aaa;
		margin-bottom:30px;
	}
	.range-container{
		background-color:white;
		padding:20px;
		box-shadow:0 0 3px #aaa;
	}
	.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
		background-color: #44ac8e;
	}
	rzslider .rz-pointer::after {
	    border-radius: 2px;
	    height: 4px;
	    left: 6px;
	    top: 6px;
	    width: 4px;
	}
	
	rzslider .rz-pointer {
	    border-radius: 8px;
	    height: 16px;
	    top: -7px;
	    width: 16px;
        background-color: #44ac8e;
	}
    rzslider .rz-bar.rz-selection {
        background: #44ac8e none repeat scroll 0 0;
    }
	rzslider .rz-bubble {
		font-size: 12px;
	}
	
	.inline-form input {
	    display: inline;
	    width: 100px;
	}
	span.sorting {
	    cursor: pointer;
	}
    .page-header{
        border-bottom: none;
    }
    .pagination-container{
        display: block;
        width: 100%;
        text-align: right;
    }
    .profiles-title{
        color: #636363;
        font-weight: 300;
        margin: 0 0 0 0;
        .start{
            display: inline-block;
            width: 34%;
        }
        .middle{
            display: inline-block;
            width: 29%;
        }
        .end{
            display: inline-block;
            width: 36%;
        }
    }
}
