#analytics-dashboard-container{
    .create-button{
        margin-top : 23px;
    }
    .section{
        margin-bottom : 15px;
        -webkit-box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        -moz-box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.9);
        border-radius: 3px;
    }
    .dropdown-filter{
        padding: 25px 0 0 0;
    }
    .dropdown-filter-btn{
        background: #ffffff;
        border: 1px solid #dadada;
        color: #44ac8e;
        i{
            padding: 0 4px;
        }
    }
    .dropdown-filter-wrapper{
        width: 130px;
        min-width: 130px;
        li{
            padding:2px;
            color:#44ac8e;
            text-align: center;
            cursor:pointer;
            a{
                color : #44ac8e !important;
                padding: 0px;
            }
        }
    }
    .download{
        margin-top: 15px;
        .content-wrapper{
            background  : #FFFFFF;
        }
        .download-form{
            padding: 10px 10%;
        }
    }
}