#forgot-password-container{
    max-width: 350px;
    margin-top: 10px;
    .error{
        color : #FF0000;
    }
    .modal-body{
        max-width: 350px;
        margin: 0 auto;
    }
    .forgot-password-button{
        padding: 8px;
        margin-bottom: 10px;
    }
    .login-button{
        color: #44ac8e;
        padding: 9px 0;
    }
    .loading{
        text-align: center;
        img{
            width: 20px;
        }
    }
}