#logout-dropdown-container{
    max-width: 125px;
    .logout-button{
        color: #44ac8e;
        padding: 9px 0;
    }
    li{
        border: none;
        &:hover{
            background: none;
        }
    }
}