<div id="tags-container" class="container" ng-cloak>
    <br>
    <form ng-submit="search()" class="row">

        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter your keyword" aria-describedby="tags-addons" ng-model="stateParams.keyword">
            <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search!</button>
      </span>
        </div>
    </form>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="tag_detail in tags track by $index">
            <a ui-sref="tag({tag:tag_detail.tag})" class="thumbnail">
                <img ng-src="http://dummyimage.com/250x150/777/ffffff&text={{tag_detail.tag}}" alt="{{tag_detail.tag}}">
            </a>
        </div>
    </div>
</div>