<div id="forgot-password-container" class="container" ng-cloak>
    <div class="alert alert-success" ng-if="success_message" ng-bind="success_message"></div>
    <div class="alert alert-danger" ng-if="error_message" ng-bind="error_message"></div>
    <div class="loading" ng-if="is_loading">
        <img class="" src="/css/images/user/loading.gif" />
    </div>
    <form novalidate role="form" name="forgotPassword">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" ng-model="forgot_password.email" name="email" required ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" placeholder="Email address">
            <span ng-show="forgotPassword.email.$error.required && forgotPassword.email.$dirty" class="error ng-hide">Please enter email address</span>
            <span ng-show="forgotPassword.email.$error.pattern && forgotPassword.email.$touched" class="error ng-hide">Please enter correct email address</span>
        </div>
    </form>
    <button type="button" class="btn btn-success forgot-password-button" ng-click="handle_forgot_password(forgotPassword)">Reset password</button>
    <a href="javascript:void(0)" ng-click="open_login_dropdown()" class="pull-right login-button">Login</a>
</div>