<div id="login-container" class="container" ng-cloak>
    <div class="">
        <div class="alert alert-danger" ng-if="error_message" ng-bind="error_message"></div>
        <div class="loading" ng-if="is_loading">
            <img class="" src="/css/images/user/loading.gif" />
        </div>
        <form novalidate role="form" name="loginForm">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="user.email" name="email" required ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" placeholder="Email address">
                <span ng-show="loginForm.email.$error.required && loginForm.email.$dirty" class="error ng-hide">Please enter email address</span>
                <span ng-show="loginForm.email.$error.pattern && loginForm.email.$touched" class="error ng-hide">Please enter correct email address</span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="user.password" name="password" required ng-pattern="/^.{5,}$/" placeholder="Password">
                <span ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="error ng-hide">Please enter password</span>
                <span ng-show="loginForm.password.$error.pattern && loginForm.password.$touched" class="error ng-hide">Please enter atleast 5 characters</span>

            </div>
            <button ng-click="login(loginForm)" class="btn btn-success login-button">Login</button>
            <a href="javascript:void(0)" ng-click="open_forgot_password_dropdown()" class="pull-right forgot-password-button">Forgot/reset password?</a>
        </form>
    </div>
</div>