<div id="logout-dropdown-container" class="container" ng-cloak>

    <li role="menuitem">
        <a href="javascript:void(0)" ng-if="is_admin" ng-click="open_dashboard()" class="logout-button">
            <i class="glyphicon glyphicon-list-alt"></i> Dashboard
        </a>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
        <a href="javascript:void(0)" ng-click="logout()" class="logout-button">
            <i class="glyphicon glyphicon-off"></i> Logout
        </a>
    </li>

</div>