<div id="reset-password-container" class="container" ng-cloak>
    <div class="">
        <div class="alert alert-danger" ng-if="error_message" ng-bind="error_message"></div>
        <div class="alert alert-success" ng-if="success_message" ng-bind="success_message"></div>
        <form novalidate name="resetPassword" role="form">
            <div class="form-group">
                <label>New password</label>
                <input id="password" type="password" class="form-control" ng-model="reset_password.password" name="password" required ng-pattern="/^.{5,}$/">
                <small>Note: Password should contain atleast 8 characters with atleast one letter, one digit and one special character. </small>
                <span ng-show="resetPassword.password.$error.required && resetPassword.password.$dirty" class="error ng-hide">Please enter password</span>
                <span ng-show="resetPassword.password.$error.pattern && resetPassword.password.$touched" class="error ng-hide">Please enter atleast 5 characters</span>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" class="form-control" ng-model="reset_password.confirm_password" name="confirm_password" required>
                <span ng-show="resetPassword.confirm_password.$error.required && resetPassword.confirm_password.$dirty" class="error ng-hide">Please enter password</span>
                <span ng-show="reset_password.password !== reset_password.confirm_password && resetPassword.confirm_password.$touched" class="error ng-hide">Passwords does not match</span>
            </div>

            <button ng-click="handle_reset_password(resetPassword)" class="btn btn-success">Save</button>
        </form>
    </div>
</div>