<div id="add-profile-container" class="container">
    <div class="page-header">
        <h1>Add new profile</h1>
    </div>
    <div class="row">
        <form ng-submit="save();">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Influencer details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <input ng-blur="generate_slug();" type="text" class="form-control" ng-model="profile.name" placeholder="Enter name" required>
                                <span ng-show="profile.error.name.length > 0" class="error">{{profile.error.name}}</span>
                            </div>
                            <div class="col-sm-6">
                                <select ng-options="gender_type.code as gender_type.name for gender_type in gender_types" class="form-control" ng-model="profile.gender" name="gender" required>
                                    <option ng-selected="true" value="">-- Select Gender --</option>
                                </select>
                                <span ng-show="profile.error.gender.length > 0" class="error">{{profile.error.gender}}</span>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <select ng-options="profile_type.value as profile_type.name for profile_type in profile_types" class="form-control" ng-model="profile.kind" name="kind" required>
                                    <option ng-selected="true" value="">-- Select Profile Type --</option>
                                </select>
                                <span ng-show="profile.error.kind.length > 0" class="error">{{profile.error.kind}}</span>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <input type="url" class="form-control" ng-model="profile.blog" placeholder="Enter Blog URL">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <ui-select multiple ng-model="selected.themes" theme="select2">
                                    <ui-select-match placeholder="Themes...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="theme.code as theme in all_themes | props_filter: {name: $select.search}">
                                        <div ng-bind-html="theme.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <ui-select ng-model="profile.country" theme="select2">
                                    <ui-select-match placeholder="Country...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="country.code as country in all_countries | filter: $select.search">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <ui-select multiple ng-model="selected.languages" theme="select2">
                                    <ui-select-match placeholder="Languages...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="language.code as language in all_languages | props_filter: {name: $select.search}">
                                        <div ng-bind-html="language.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-4">
                                <ui-select ng-model="profile.audience" theme="select2" search-enabled="false">
                                    <ui-select-match placeholder="Public">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="audience_type.value as audience_type in audience_types | filter: $select.search">
                                        <div ng-bind-html="audience_type.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="profile.error.audience.length > 0" class="error">{{profile.error.audience}}</span>
                            </div>
                            <div class="col-sm-8">
                                <div class="pull-left" style="width: 48%;">
                                    <input type="number" class="form-control" ng-model="profile.age_min" placeholder="min audience age">
                                </div>
                                <div class="pull-right" style="width: 48%;">
                                    <input type="number" class="form-control" ng-model="profile.age_max" placeholder="max audience age">
                                </div>
                                <span ng-show="profile.error.age_min.length > 0" class="error">{{profile.error.age_min}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Enter Bio details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" ng-model="profile.bio" placeholder="Bio"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Personal details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" ng-model="profile.address_1" placeholder="Address">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" ng-model="profile.phone" placeholder="Phone" maxlength="50">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <input type="email" class="form-control" ng-model="profile.email" placeholder="Email" maxlength="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Social links</div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- Facebook Search -->
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="facebook-addon"><i class="fa fa-facebook"></i></span>
                                    <input type="text" class="form-control" ng-model="search.fb_keyword" ng-change="search_facebook_pages()" placeholder="keyword" aria-describedby="facebook-addon">
                                    <span ng-if="search.fb_keyword.length > 0" class="input-group-addon" id="remove-addon"><a ng-click="remove_platform('fb');" href="" class="glyphicon glyphicon-remove"></a></span>
                                </div>
                                <span ng-show="profile.error.facebook.length > 0" class="error">{{profile.error.facebook}}</span>
                                <br>
                                <ul class="media-list suggestions pull-left" ng-if="fb_pages.length > 0">
                                    <li class="media pull-left" ng-repeat="fb_page in fb_pages">
                                        <div class="radio radio-theme pull-left" style="margin-bottom: 0px;">
                                            <input type="radio" name="fb_profile" value="{{fb_page.id}}" ng-model="profile.facebook" ng-value="{{fb_page.id}}" ng-click="assign_fb_value(fb_page);">
                                            <label></label>
                                        </div>
                                        <div class="media-left">
                                            <a href="{{fb_page.link}}" target="_blank" uib-tooltip="click to see facebook page" tooltip-placement="top">
                                                <img class="media-object img-circle" ng-src="{{fb_page.picture.data.url}}" alt="{{fb_page.username}}" width=50>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading"><strong class="full-name">{{fb_page.name}}</strong></span>
                                            <br>
                                            <a><sup>{{fb_page.username}}</sup></a>
                                            <br>
                                            <sup>Likes:</sup>
                                            <a><sup>{{fb_page.fan_count | formatLargeNumbers}}</sup></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Instagram search -->
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="instagram-addon"><i class="fa fa-instagram"></i></span>
                                    <input type="text" class="form-control" ng-model="search.ig_keyword" ng-change="search_instagram_users()" placeholder="keyword" aria-describedby="instagram-addon">
                                    <span ng-if="search.ig_keyword.length > 0" class="input-group-addon" id="remove-addon"><a ng-click="remove_platform('ig');" href="" class="glyphicon glyphicon-remove"></a></span>
                                </div>
                                <span ng-show="profile.error.instagram.length > 0" class="error">{{profile.error.instagram}}</span>
                                <br>
                                <ul class="media-list suggestions pull-left" ng-if="ig_users.length > 0">
                                    <li class="media pull-left" ng-repeat="ig_user in ig_users">
                                        <div class="radio radio-theme pull-left" style="margin-bottom: 0px;">
                                            <input type="radio" name="ig_profile" value="{{ig_user.id}}" ng-model="profile.instagram" ng-value="{{ig_user.id}}" ng-click="assign_ig_value(ig_user.id);">
                                            <label></label>
                                        </div>
                                        <div class="media-left">
                                            <a href="https://www.instagram.com/{{ig_user.username}}" target="_blank" uib-tooltip="click to see instagram page" tooltip-placement="top">
                                                <img class="media-object img-circle" ng-src="{{ig_user.profile_picture}}" alt="{{ig_user.username}}" width=50>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading"><strong class="full-name">{{ig_user.full_name}}</strong></span>
                                            <br>
                                            <a><sup>{{ig_user.username}}</sup></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Youtube Search -->
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="youtube-addon"><i class="fa fa-youtube"></i></span>
                                    <input type="text" class="form-control" ng-model="search.yt_keyword" ng-change="search_youtube_channels()" placeholder="keyword" aria-describedby="youtube-addon">
                                    <span ng-if="search.yt_keyword.length > 0" class="input-group-addon" id="remove-addon"><a ng-click="remove_platform('yt');" href="" class="glyphicon glyphicon-remove"></a></span>
                                </div>
                                <span ng-show="profile.error.youtube.length > 0" class="error">{{profile.error.youtube}}</span>
                                <br>
                                <ul class="media-list suggestions pull-left" ng-if="yt_channels.length > 0">
                                    <li class="media pull-left" ng-repeat="yt_channel in yt_channels">
                                        <div class="radio radio-theme pull-left" style="margin-bottom: 0px;">
                                            <input type="radio" name="yt_profile" value="{{yt_channel.snippet.channelId}}" ng-model="profile.youtube" ng-click="assign_yt_value(yt_channel.snippet.channelId)">
                                            <label></label>
                                        </div>
                                        <div class="media-left">
                                            <a href="https://www.youtube.com/channel/{{yt_channel.snippet.channelId}}" target="_blank" uib-tooltip="click to see youtube page" tooltip-placement="top">
                                                <img class="media-object img-circle" ng-src="{{yt_channel.snippet.thumbnails.default.url}}" alt="{{yt_channel.snippet.title}}" width=50>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading"><strong class="full-name">{{yt_channel.snippet.title}}</strong></span>
                                        </div>
                                    </li>
                                </ul>
                                <span ng-show="profile.error.socialmedia.length > 0" class="error">{{profile.error.socialmedia}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" ng-disabled="(!profile.slug || profile.slug.length <= 0)" class="btn btn-success">Save</button>
                        <button type="button" ng-disabled="(!last_entered_profile)" class="btn btn-success" ng-click="fill_last_entered_data();">Fill last entered profile data</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
