<h1>Community</h1>
<hr>
<div class="row" ng-controller="community">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <!-- map dates container -->
        <div class="input-group map-container">
            <form class="form-inline" ng-submit="change_range()">
                <!-- Start Date -->
                <div class="form-group" style="min-width: 150px;">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="map.start_date" is-open="common_date_options.start_date.opened" min-date="common_date_options.min_date" max-date="common_date_options.max_date" ng-required="true" close-text="Close" />
                    <button type="button" class="btn btn-default" ng-click="open_calender_startdate(common_date_options.start_date.opened)"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                &nbsp;
                <!-- End Date -->
                <div class="form-group" style="min-width: 150px;">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="map.end_date" is-open="common_date_options.end_date.opened" min-date="common_date_options.min_date" max-date="common_date_options.max_date" ng-required="true" close-text="Close" />
                    <button type="button" class="btn btn-default" ng-click="open_calender_enddate(common_date_options.end_date.opened)"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>

                <button type="submit" class="btn btn-default btn-success">Submit</button>

            </form>
        </div>

        <br/>
        <highchart ng-if="!(highchartsNG.error)" config="highchartsNG"></highchart>
        <span ng-if="highchartsNG.error">No Data Found...</span>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div ng-repeat="bubble in bubbles | orderBy:'-followers'" class="img-circle-custom img-circle-{{$index + 1}} {{bubble.class}}" tooltip-trigger="mouseenter" uib-tooltip-html="bubble.title" tooltip-placement="top">
            {{bubble.followers | formatLargeNumbers}}
        </div>
    </div>

</div>
