<h1>Demographic</h1>
<hr>
<div class="row" ng-controller="demographic">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <!-- map dates container -->
        <div class="input-group map-container">
            <form class="form-inline" ng-submit="change_date()">
                <!-- Which Date -->
                <div class="form-group" style="min-width: 150px;">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="map.which_date" is-open="common_date_options.which_date.opened" min-date="common_date_options.min_date" max-date="common_date_options.max_date" ng-required="true" close-text="Close" />
                    <button type="button" class="btn btn-default" ng-click="open_calender_which_date(common_date_options.which_date.opened)"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>

                <button type="submit" class="btn btn-default btn-success">Submit</button>
            </form>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="table-representation col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table ng-if="high_map_options.series[0].data.length > 0" class="table table-bordered">
                <tbody>
                    <tr ng-repeat="(index, single_country) in high_map_options.series[0].data | orderBy : '-value'">
                        <td>{{single_country.code | get_country_by_code}}</td>
                        <td>{{single_country.value | formatLargeNumbers}}</td>
                        <td>{{ (single_country.value/profile.facebook_likes) * 100 | number:2}}%</td>
                    </tr>
                </tbody>
            </table>
            <span ng-if="!(high_map_options.series[0].data.length) || high_map_options.series[0].data.length == 0">No Data Found...</span>
        </div>
    </div>
    <!-- Hashmap data -->
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 metric-stats">
        <highchart ng-if="!(high_map_options.error)" config="high_map_options"></highchart>
        <span ng-if="high_map_options.error">No Data Found...</span>
    </div>
    <!-- Hashmap end -->
</div>
