<h1>Average Growth</h1>
<table class="table" ng-controller="growth">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">
                <h5>{{stateParams.active_platform == 'youtube' ? 'Number of views' : 'Media posted'}}</h5></th>
            <th class="text-center">
                <h5>Average {{stateParams.active_platform == 'youtube' ? 'Number of views' : 'Media posted'}}</h5><sup class="since">- since {{profile_growth.media.media_calculation_since}}</sup></th>
            <th class="text-center">
                <h5>Followers</h5></th>
            <th class="text-center">
                <h5>Average Followers</h5><sup class="since">- since {{profile_growth.followed_by.followers_calculation_since}}</sup></th>

            <!-- Extra information for Brand -->
            <th class="text-center" ng-if="profile.profile_kind === 'brand'">
                <h5>{{stateParams.active_platform == 'youtube' ? 'Videos' : 'Posts'}} on Hashtag</h5> </th>
            <th class="text-center" ng-if="profile.profile_kind === 'brand'">
                <h5>Average {{stateParams.active_platform == 'youtube' ? 'Videos' : 'Posts'}} on Hashtag</h5><sup class="since">- since {{profile_growth.hashtag.followers_calculation_since}}</sup></th>

            <!-- Extra information for Brand END -->

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h4>Last Day</h4>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.media.day !== '-') ? ((stateParams.active_platform == 'youtube') ? (profile_growth.media.day | formatLargeNumbers) : (profile_growth.media.day | number)) : profile_growth.media.day}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.media.day !== '-' && profile_growth.media.day_perc !== '-'">
                            ( {{profile_growth.media.day_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{ (profile_growth.media.avg_by_day !== '-') ? ((stateParams.active_platform == 'youtube') ? (profile_growth.media.avg_by_day | formatLargeNumbers) : (profile_growth.media.avg_by_day | number:2)) : profile_growth.media.avg_by_day}}</label>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{profile_growth.followed_by.day | formatLargeNumbers}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.followed_by.day !=='-' && profile_growth.followed_by.day_perc !== '-' ">
                            ( {{profile_growth.followed_by.day_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{ (profile_growth.followed_by.avg_by_day !== '-') ? (profile_growth.followed_by.avg_by_day | formatLargeNumbers) : profile_growth.followed_by.avg_by_day}}</label>
            </td>
            <!-- Extra information for Brand -->
            <td class="text-center" ng-if="profile.profile_kind === 'brand'">
                <label class="color-theme-green format-number">{{(profile_growth.hashtag.day !== '-') ? (profile_growth.hashtag.day | number:2) : profile_growth.hashtag.day}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.hashtag.day !=='-' && profile_growth.hashtag.day_perc !== '-' ">
                            ( {{profile_growth.hashtag.day_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center" ng-if="profile.profile_kind === 'brand'">
                <label class="color-theme-green format-number">{{ (profile_growth.hashtag.avg_by_day !== '-') ? (profile_growth.hashtag.avg_by_day | number:2) : profile_growth.hashtag.avg_by_day}}</label>
            </td>
            <!-- Extra information for Brand END -->
        </tr>
        <tr>
            <td>
                <h4>Last 7 Day</h4>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.media.week !== '-') ? ((stateParams.active_platform == 'youtube') ? (profile_growth.media.week | formatLargeNumbers) : (profile_growth.media.week | number)) : profile_growth.media.week}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.media.week !== '-' && profile_growth.media.week_perc !== '-' ">
                     ( {{profile_growth.media.week_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.media.avg_by_week !== '-') ? ((stateParams.active_platform == 'youtube') ? (profile_growth.media.avg_by_week | formatLargeNumbers) : (profile_growth.media.avg_by_week | number:2)) : profile_growth.media.avg_by_week}}</label>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{profile_growth.followed_by.week | formatLargeNumbers}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.followed_by.week !=='-' && profile_growth.followed_by.week_perc !== '-' ">
                            ( {{profile_growth.followed_by.week_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.followed_by.avg_by_week !== '-') ? (profile_growth.followed_by.avg_by_week | formatLargeNumbers) : profile_growth.followed_by.avg_by_week}}</label>
            </td>
            <!-- Extra information for Brand -->
            <td class="text-center" ng-if="profile.profile_kind === 'brand'">
                <label class="color-theme-green format-number">{{(profile_growth.hashtag.week !== '-') ? (profile_growth.hashtag.week | number:2) : profile_growth.hashtag.week}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.hashtag.week !=='-' && profile_growth.hashtag.week_perc !== '-'">
                            ( {{profile_growth.hashtag.week_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center" ng-if="profile.profile_kind === 'brand'">
                <label class="color-theme-green format-number">{{(profile_growth.hashtag.avg_by_week !== '-') ? (profile_growth.hashtag.avg_by_week | number:2) : profile_growth.hashtag.avg_by_week}}</label>
            </td>
            <!-- Extra information for Brand END -->
        </tr>
        <tr>
            <td>
                <h4>Last 30 Day</h4>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.media.month !== '-') ? ((stateParams.active_platform == 'youtube') ? (profile_growth.media.month | formatLargeNumbers) : (profile_growth.media.month | number)) : profile_growth.media.month}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.media.month !== '-' && profile_growth.media.month_perc !== '-'">
                            ( {{profile_growth.media.month_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.media.avg_by_month !== '-') ? ((stateParams.active_platform == 'youtube') ? (profile_growth.media.avg_by_month | formatLargeNumbers) : (profile_growth.media.avg_by_month | number:2)) : profile_growth.media.avg_by_month}}</label>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{profile_growth.followed_by.month | formatLargeNumbers}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.followed_by.month !=='-' && profile_growth.followed_by.month_perc !== '-'">
                            ( {{profile_growth.followed_by.month_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center">
                <label class="color-theme-green format-number">{{(profile_growth.followed_by.avg_by_month !== '-') ? (profile_growth.followed_by.avg_by_month | formatLargeNumbers) : profile_growth.followed_by.avg_by_month}}</label>
            </td>
            <!-- Extra information for Brand -->
            <td class="text-center" ng-if="profile.profile_kind === 'brand'">
                <label class="color-theme-green format-number">{{(profile_growth.hashtag.month !== '-') ? (profile_growth.hashtag.month | number:2) : profile_growth.hashtag.month}}</label>
                <br>
                <sup class="growth-perc" ng-if="profile_growth.hashtag.month !=='-' && profile_growth.hashtag.month_perc !== '-'">
                            ( {{profile_growth.hashtag.month_perc | number:2}} % )
                        </sup>
            </td>
            <td class="text-center" ng-if="profile.profile_kind === 'brand'">
                <label class="color-theme-green format-number">{{(profile_growth.hashtag.avg_by_month !== '-') ? (profile_growth.hashtag.avg_by_month | number:2) : profile_growth.hashtag.avg_by_month}}</label>
            </td>
            <!-- Extra information for Brand END -->
        </tr>
    </tbody>
</table>
