<!-- Profile Basic info -->
<div class="row">
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <!-- Website -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Website</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" href="{{profile.profile_url}}" target="_blank">{{profile.profile_url}}</a>

                <!-- Simple when the edit mode is ON -->
                <a e-style="width: 350px;" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="" editable-url="profile.profile_url" onaftersave="update_profile({url: profile.profile_url});" e-maxlength="200">
                {{profile.profile_url || 'empty'}}
            </a>
            </div>
        </div>
        <!-- END -->

        <!-- City -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">City</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" href="">
                    <span>{{profile.profile_address_city}}</span>
                </a>

                <!-- Simple when the edit mode is ON -->
                <a e-style="width: 350px;" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="" editable-text="profile.profile_address_city" onaftersave="update_profile({address_city: profile.profile_address_city});" e-maxlength="50">
                {{profile.profile_address_city || 'empty'}}
            </a>
            </div>
        </div>
        <!-- END -->

        <!-- Country -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Country</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" ui-sref="profiles({profile_kind:'all', search_countries: profile.profile_country})" href="">
                    <img ng-if="profile.profile_country" ng-src="/flags/16x16/{{profile.profile_country | lowercase}}.png" />
                    <span>{{profile.country_name}}</span>
                </a>

                <!-- Simple when the edit mode is ON -->
                <!-- This is to show current languages, so that; user can click and edit -->
                <a ng-class="{'editable-empty': (!profile.profile_country)}" class="editable editable-click" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" ng-click="uiSelectForm.$show()" ng-show="!uiSelectForm.$visible" href="">
                    <img ng-if="profile.profile_country" ng-src="/flags/16x16/{{profile.profile_country | lowercase}}.png" />
                    <span>{{profile.country_name || 'empty'}}</span>
                </a>

                <!-- This is main to handle Angular-ui element -->
                <div editable-ui-select="profile.profile_country" data-e-form="uiSelectForm" theme="select2" data-e-ng-model="profile.profile_country" onaftersave="update_profile({country: profile.profile_country});" data-e-style="min-width:350px;">
                    <editable-ui-select-match placeholder="Country...">{{$select.selected.name}}</editable-ui-select-match>
                    <editable-ui-select-choices repeat="country.code as country in edit_profile.all_countries | filter: $select.search">
                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </div>
        </div>
        <!-- END -->

        <!-- Continent -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Continent</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <a ng-if="profile.continent_name" ui-sref="profiles({profile_kind:'all', search_continents: profile.profile_continent})" href="">
                {{profile.continent_name}}
            </a>
            </div>
        </div>
        <!-- END -->

        <!-- Birthday -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Age</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" href="" target="_blank">{{(profile.profile_age) ? profile.profile_age + ' Years' : ''}} {{(profile.profile_birthday) ? '(' + (profile.profile_birthday | date:"yyyy-MM-dd") + ')' : ''}}</a>

                <!-- Simple when the edit mode is ON -->
                <a ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="#" editable-bsdate="profile.profile_birthday" e-is-open="edit_profile.birthday.opened" e-ng-click="open_birthday(edit_profile.birthday.opened)" e-datepicker-popup="yyyy-MM-dd" e-required onaftersave="update_profile({birthday: profile.profile_birthday});">
                    {{(profile.profile_age) ? profile.profile_age + ' Years' : ''}} {{(profile.profile_birthday) ? '(' + (profile.profile_birthday | date:"yyyy-MM-dd") + ')' : 'empty'}}
            </a>
            </div>
        </div>
        <!-- END -->

        <!-- Languages -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Language(s)</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" ng-repeat="language in profile.languages_details" href="" ui-sref="profiles({profile_kind:'all', search_languages: language.code})">{{language.nativeName}}{{($last) ? '' :', '}}</a>

                <!-- Simple when the edit mode is ON -->
                <!-- This is to show current languages, so that; user can click and edit -->
                <div ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" ng-click="uiSelectForm_languages.$show()" ng-show="!uiSelectForm_languages.$visible">
                    <a ng-if="(profile.languages_details)" class="editable editable-click" ng-repeat="language in profile.languages_details" href="">
                    {{language.nativeName}}{{($last) ? '' :', '}}
                </a>
                    <a ng-if="(!profile.languages_details)" class="editable editable-click editable-empty" href="">empty</a>
                </div>

                <!-- This is main to handle Angular-ui element -->
                <div e-multiple editable-ui-select="edit_profile.selected_languages" data-e-form="uiSelectForm_languages" e-theme="select2" data-e-ng-model="edit_profile.selected_languages" onaftersave="update_profile({languages: edit_profile.selected_languages});" data-e-style="min-width:350px;">
                    <editable-ui-select-match placeholder="Languages...">{{$item.name}}</editable-ui-select-match>
                    <editable-ui-select-choices repeat="language.code as language in edit_profile.all_languages | props_filter: {name: $select.search}">
                        <div ng-bind-html="language.name | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </div>
        </div>
        <!-- END -->

        <!-- Themes -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Theme(s)</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" ng-repeat="theme in profile.themes_details" href="" ui-sref="profiles({profile_kind:'all', search_themes: theme.code})">{{theme.name}}{{($last) ? '' :', '}}</a>

                <!-- Simple when the edit mode is ON -->
                <!-- This is to show current languages, so that; user can click and edit -->
                <div ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" ng-click="uiSelectForm_themes.$show()" ng-show="!uiSelectForm_themes.$visible">
                    <a ng-if="profile.themes_details" class="editable editable-click" ng-repeat="theme in profile.themes_details" href="">
                    {{theme.name}}{{($last) ? '' :', '}}
                </a>
                    <a ng-if="(!profile.themes_details)" class="editable editable-click editable-empty" href="">empty</a>
                </div>

                <!-- This is main to handle Angular-ui element -->
                <div e-multiple editable-ui-select="edit_profile.selected_themes" data-e-form="uiSelectForm_themes" e-theme="select2" data-e-ng-model="edit_profile.selected_themes" onaftersave="update_profile({themes: edit_profile.selected_themes});" data-e-style="min-width:350px;">
                    <editable-ui-select-match placeholder="Themes...">{{$item.name}}</editable-ui-select-match>
                    <editable-ui-select-choices repeat="theme.code as theme in edit_profile.all_themes | props_filter: {name: $select.search}">
                        <div ng-bind-html="theme.name | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </div>
        </div>
        <!-- END -->

        <!-- Audience Type -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Public</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" class="capital-word" href="">{{profile.profile_audience}} {{(profile.profile_age_min && profile.profile_age_max) ? '(' + profile.profile_age_min + '-' + profile.profile_age_max + ' Years)': ''}}</a>

                <!-- Simple when the edit mode is ON -->
                <!-- This is to show current languages, so that; user can click and edit -->
                <a ng-class="{'editable-empty': (!profile.profile_audience)}" class="editable editable-click capital-word" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" ng-click="uiSelectForm_audience_type.$show()" ng-show="!uiSelectForm_audience_type.$visible" href="">
                    {{profile.profile_audience || 'empty'}}
                </a>
                <a ng-class="{'editable-empty': (!profile.profile_age_min && !profile.profile_age_max)}" class="editable editable-click" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">{{(profile.profile_age_min && profile.profile_age_max) ? '(' + profile.profile_age_min + '-' + profile.profile_age_max + ' Years)': 'empty'}}</a>

                <!-- Form to update Audience age-range -->
                <form editable-form name="editableForm" onaftersave="update_profile({age_min: profile.profile_age_min, age_max: profile.profile_age_max});">
                    <a e-style="width: 150px;" href="" editable-number="profile.profile_age_min" e-name="profile_age_min" e-placeholder="min audience age"></a>
                    <a e-style="width: 150px;" href="" editable-number="profile.profile_age_max" e-name="profile_age_max" e-placeholder="max audience age"></a>
                    <span class="editable-buttons" ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </form>

                <!-- This is main to handle Angular-ui element -->
                <div editable-ui-select="profile.profile_audience" data-e-form="uiSelectForm_audience_type" theme="select2" data-e-ng-model="profile.profile_audience" onaftersave="update_profile({audience: profile.profile_audience});" data-e-style="min-width:350px;">
                    <editable-ui-select-match placeholder="Audience...">{{$select.selected.name}}</editable-ui-select-match>
                    <editable-ui-select-choices repeat="audience.value as audience in edit_profile.all_audiences | filter: $select.search">
                        <div ng-bind-html="audience.name | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </div>
        </div>
        <!-- END -->
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <br>
        <!-- Address - 1 -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Address</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" href="">
                    <span>{{profile.profile_address_1}}</span>
                </a>

                <!-- Simple when the edit mode is ON -->
                <a e-style="width: 230px;" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="" editable-textarea="profile.profile_address_1" onaftersave="update_profile({address_1: profile.profile_address_1});" e-maxlength="500" e-placeholder="Address">
                    {{profile.profile_address_1 || 'empty'}}
                </a>
            </div>
        </div>
        <!-- END -->

        <!-- Phone -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Phone</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" href="" target="_blank">{{profile.profile_phone}}</a>

                <!-- Simple when the edit mode is ON -->
                <a e-style="width: 230px;" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="" editable-text="profile.profile_phone" onaftersave="update_profile({phone: profile.profile_phone});" e-maxlength="50">
                {{profile.profile_phone || 'empty'}}
            </a>
            </div>
        </div>
        <!-- END -->

        <!-- Email -->
        <div class="row">
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Email</span>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- Simple when the edit mode is off -->
                <a ng-if="edit_profile.edit_mode === false" href="mailto:{{profile.profile_email}}">{{profile.profile_email}}</a>

                <!-- Simple when the edit mode is ON -->
                <a e-style="width: 230px;" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" href="" editable-email="profile.profile_email" onaftersave="update_profile({email: profile.profile_email});" e-maxlength="255">
                    {{profile.profile_email || 'empty'}}
                </a>
            </div>
        </div>
        <!-- END -->
    </div>
</div>
