<div id="profile-container" class="container" ng-cloak>
    <div class="row widget profile-images-container">
        <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding" ng-repeat="image in profile_images" href="{{image.link}}" target="_blank">
            <div class="top-thumb" style='background-image: url("{{image.image}}");'><i ng-if="image.type == 'video'" class="glyphicon glyphicon-play video-icon"></i></div>
        </a>
    </div>
    <br>
    <div class="row widget" ng-cloak>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!--Profile Image -->
            <div class="profile-images-container profile-image">
                <img ng-if="stateParams.active_platform == 'instagram'" ng-src="{{profile.ig_profile_picture}}" />
                <img ng-if="stateParams.active_platform == 'facebook'" ng-src="{{profile.facebook_picture}}" />
                <img ng-if="stateParams.active_platform == 'youtube'" ng-src="{{profile.youtube_profile_picture}}" />
            </div>
            <div class="tags-container">
                <a ui-sref="profiles({profile_kind:'all', search_tags: tag})" href="" ng-repeat="tag in profile.profile_tags | limitTo : tag_limit" class="tag">{{tag}}</a>
                <br>
                <sup>
                    &nbsp;
                    <a ng-if="(profile.profile_tags.length > tag_limit)" ng-click="$parent.tag_limit=profile.profile_tags.length">See all</a>
                    <a ng-if="(profile.profile_tags.length == tag_limit)" ng-click="$parent.tag_limit=5">See less</a>
                </sup>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" ng-cloak>
            <!-- Personal Info -->
            <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <!-- profile name -->
                    <!-- Simple when the edit mode is off -->
                    <h1 ng-if="edit_profile.edit_mode === false">{{profile.profile_name}}</h1>

                    <!-- When edit mode is ON -->
                    <h1 e-required e-style="width: 400px;" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" editable-text="profile.profile_name" onaftersave="update_profile({name: profile.profile_name});" e-maxlength="100">{{profile.profile_name || 'empty'}}</h1>
                    <!-- END -->


                    <!-- profile kind and sub-kind -->
                    <!-- Simple when the edit mode is off -->
                    <h5 ng-if="edit_profile.edit_mode === false" class="capital-word">{{profile.profile_kind}}{{(profile.profile_sub_kind) ? (" - " + profile.profile_sub_kind) : ""}}</h5>

                    <!-- When edit mode is ON -->
                    <h5 editable-select="profile.profile_sub_kind" e-ng-options="profile_type.value as profile_type.name for profile_type in edit_profile.all_profile_types" ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" onaftersave="update_profile({sub_kind: profile.profile_sub_kind});" class="capital-word">{{profile.profile_kind || 'empty'}} - {{(profile.profile_sub_kind) || "empty"}}</h5>
                    <!-- END -->
                </div>
                <!--Action buttons -->
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div ng-if="user_info.role === 'admin'">
                        <!-- Syn button -->
                        <button tooltip-trigger="mouseenter" uib-tooltip="Synchronize profile now" tooltip-placement="top" class="btn btn-success" type="submit" ng-click="synchronize(profile.profile_id)"><i class="glyphicon glyphicon-refresh"></i></button>

                        <!-- Delete profile -->
                        <button confirm-settings="{size: 'lg'}" confirm="Are you sure you want to delete profile {{profile.profile_name}}? Note: If you will delete this profile then all the data related to this profile will be deleted and we will stop tracking it's social profiles." ng-click="delete_profile(profile.profile_id);" tooltip-trigger="mouseenter" uib-tooltip="Delete profile" tooltip-placement="top" type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                        <!-- edit mode button -->
                        <button ng-click="toggle_edit_mode();" type="button" class="btn btn-success" tooltip-trigger="mouseenter" uib-tooltip="Switch to edit mode" tooltip-placement="top">
                            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                        </button>

                        <!-- Add to List -->
                        <button type="button" class="btn btn-primary" tooltip-trigger="mouseenter" uib-tooltip="Add this profile in an existing list" tooltip-placement="bottom" ng-click="open_add_to_list();">Add to a list</button>
                    </div>
                    <br>
                    <div>
                        <div class="social-icons">
                            <!-- Instagram profile if edit mode is off -->
                            <a ng-if="edit_profile.edit_mode === false" ng-class="profile.instagram_id ? '' : 'disabled' " ui-sref="profile({active_platform: 'instagram'})"><i ng-class="stateParams.active_platform == 'instagram' ? 'active' : ''" class="fa fa-instagram"></i></a>

                            <!-- Instagram profile if edit mode is ON -->
                            <a ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" class="editable editable-click" ng-click="open_platform('instagram');"><i class="fa fa-instagram active"></i></a>
                            <!-- END -->

                            <!-- Facebook profile if edit mode is off -->
                            <a ng-if="edit_profile.edit_mode === false" ng-class="profile.facebook_id ? '' : 'disabled' " ui-sref="profile({active_platform: 'facebook'})"><i ng-class="stateParams.active_platform == 'facebook' ? 'active' : ''" class="fa fa-facebook-square"></i></a>

                            <!-- facebook profile if edit mode is ON -->
                            <a ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" class="editable editable-click" ng-click="open_platform('facebook');"><i class="fa fa-facebook-square active"></i></a>
                            <!-- END -->

                            <!-- Youtube profile if edit mode is off -->
                            <a ng-if="edit_profile.edit_mode === false" ng-class="profile.youtube_id ? '' : 'disabled' " ui-sref="profile({active_platform: 'youtube'})"><i ng-class="stateParams.active_platform == 'youtube' ? 'active' : ''" class="fa fa-youtube-square"></i></a>

                            <!-- Youtube profile if edit mode is ON -->
                            <a ng-if="(edit_profile.edit_mode === true) && user_info.role === 'admin'" class="editable editable-click" ng-click="open_platform('youtube');"><i class="fa fa-youtube-square active"></i></a>
                            <!-- END -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-cloak>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ng-include src="'../views/profile/personal_info.html'"></ng-include>
                </div>
            </div>
            <div class="row" ng-cloak>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Recent Posts</h3>
                    <div class="row" style="margin-bottom: 10px;">
                        <div ng-mouseenter="show_info=true" ng-mouseleave="show_info=false" class="col-xs-2 col-sm-2 col-md-2 col-lg-3 position-relative" ng-repeat="recent_post in recent_posts">
                            <span ng-show="show_info" class="shadow-information likes"><i class="glyphicon glyphicon-heart"></i><sup>&nbsp;&nbsp;{{recent_post.likes_count | formatLargeNumbers}}</sup></span>
                            <span ng-show="show_info" class="shadow-information comments"><i class="glyphicon glyphicon-comment"></i><sup>&nbsp;&nbsp;{{recent_post.comments_count | formatLargeNumbers}}</sup></span>
                            <span ng-if="stateParams.active_platform == 'youtube'" ng-show="show_info" class="shadow-information views"><i class="glyphicon glyphicon-eye-open"></i><sup>&nbsp;&nbsp;{{recent_post.view_count | formatLargeNumbers}}</sup></span>

                            <a href="{{recent_post.link}}" class="thumbnail add-information" target="_blank">
                                <div class="top-thumb" style='background-image: url("{{recent_post.image}}");'><i ng-if="recent_post.type == 'video'" class="glyphicon glyphicon-play video-icon"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Metrics container-->
    <div class="metrics-container widget row" ng-cloak>
        <h1>Metrics</h1>
        <hr>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="metric-info">
                    <h4>Engagement Rate</h4>
                    <!-- Instagram case -->
                    <label ng-if="stateParams.active_platform == 'instagram'" class="color-theme-green ng-binding format-number">{{profile.instagram_engagement_rate|number:2}} %</label>
                    <!-- Facebook case -->
                    <label ng-if="stateParams.active_platform == 'facebook'" class="color-theme-green ng-binding format-number">{{profile.facebook_engagement_rate|number:2}} %</label>
                    <!-- Youtube case -->
                    <label ng-if="stateParams.active_platform == 'youtube'" class="color-theme-green ng-binding format-number">{{profile.youtube_engagement_rate|number:2}} %</label>
                    <div>
                        <h4>{{stateParams.active_platform == 'youtube' ? 'Videos' : 'Media'}} Posted</h4>
                        <!-- Instagram case -->
                        <label class="color-theme-green ng-binding format-number" ng-if="stateParams.active_platform == 'instagram'">{{profile.ig_media | number}}</label>
                        <!-- Facebook case -->
                        <div ng-if="stateParams.active_platform == 'facebook'">
                            <label class="color-theme-green ng-binding format-number">{{FB_media_information.number_of_posts | number}}</label><sup class="since">- since {{FB_media_information.min_date}}</sup>
                        </div>
                        <!-- Youtube case -->
                        <label class="color-theme-green ng-binding format-number" ng-if="stateParams.active_platform == 'youtube'">{{profile.youtube_video_count | number}}</label>
                    </div>

                    <div ng-if="stateParams.active_platform == 'youtube'">
                        <h4>Total Views</h4>
                        <!-- Youtube case -->
                        <label class="color-theme-green ng-binding format-number">{{profile.youtube_view_count | formatLargeNumbers}}</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 metric-stats">
                <!-- This portion is to show recent single image -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="heading">Latest {{stateParams.active_platform == 'youtube' ? 'video' : 'media'}}</label>
                    <hr>
                    <p class="grey_heart"><i ng-class="{'glyphicon-heart color-theme-green': (stateParams.active_platform == 'instagram' || stateParams.active_platform == 'facebook'), 'glyphicon-eye-open color-theme-green': (stateParams.active_platform == 'youtube')  }" class="glyphicon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="color-theme-green format-number">{{stateParams.active_platform == 'youtube' ? (recent_post_single.view_count | number) : (recent_post_single.likes_count | number)}}</label>
                    </p>
                    <a href="{{recent_post_single.link}}" target="_blank" class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="margin-left:15px;">
                        <div class="top-thumb" style='background-image: url("{{recent_post_single.image}}");'><i ng-if="recent_post_single.type == 'video'" class="glyphicon glyphicon-play video-icon"></i></div>
                    </a>
                </div>
                <!-- This portion is to show recent single image -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="heading">Average number of {{stateParams.active_platform == 'youtube' ? 'views' : 'likes'}}</label>
                    <hr>
                    <p class="grey_heart"><i ng-class="{'glyphicon-heart color-theme-green': (stateParams.active_platform == 'instagram' || stateParams.active_platform == 'facebook'), 'glyphicon-eye-open color-theme-green': (stateParams.active_platform == 'youtube')  }" class="glyphicon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="color-theme-green format-number">{{user_average_likes | number:0}}</label>
                    </p>
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="margin-left:15px;">
                        <a class="four-images" ng-repeat="image in profile_images | limitTo : 4" href="{{image.link}}" target="_blank">
                            <div class="top-thumb" style='background-image: url("{{image.image}}");'><i ng-if="image.type == 'video'" class="glyphicon glyphicon-play video-icon"></i></div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <sup class="since">(on the 10 latest {{stateParams.active_platform == 'youtube' ? 'videos' : 'media'}})</sup>
                </div>
                <!-- This portion is to show most liked post -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="heading">Most {{stateParams.active_platform == 'youtube' ? 'viewed' : 'liked'}} ever</label>
                    <hr>
                    <p class="grey_heart"><i ng-class="{'glyphicon-heart color-theme-green': (stateParams.active_platform == 'instagram' || stateParams.active_platform == 'facebook'), 'glyphicon-eye-open color-theme-green': (stateParams.active_platform == 'youtube')  }" class="glyphicon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="color-theme-green format-number">{{user_most_liked_post.likes_count | number}}</label>
                    </p>
                    <a href="{{user_most_liked_post.link}}" target="_blank" class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="margin-left:15px;">
                        <div class="top-thumb" style='background-image: url("{{user_most_liked_post.image}}");'><i ng-if="user_most_liked_post.type == 'video'" class="glyphicon glyphicon-play video-icon"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Demographic Container -->
    <div ng-if="stateParams.active_platform == 'facebook'" class="metrics-container widget row" ng-cloak>
        <ng-include src="'../views/profile/demographic.html'"></ng-include>
    </div>
    <br>
    <!-- Comunity Information -->
    <div class="metrics-container widget row" ng-cloak>
        <ng-include src="'../views/profile/community.html'"></ng-include>
    </div>
    <br>
    <!-- Growth container -->
    <div class="row widget growth-container" ng-cloak>
        <ng-include src="'../views/profile/growth.html'"></ng-include>
    </div>
    <br>
    <div class="row" ng-if="profile.profile_bio" ng-cloak>
        <div class="widget col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>Bio</h1>
            <hr>
            <p style="padding-left:15px;">
                {{profile.profile_bio}}
            </p>
        </div>
    </div>
</div>
